{% extends 'base.html' %}

{% block title %} {{doc.title}} {% endblock %}

{%- block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown_table.css') }}">

{%- endblock styles %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('documents.update', label=[doc.id,doc.label]) }}"> <img src="{{url_for('static', filename='img/pencil.svg')}}" height=24 /> Edit</a>
<a class="nav-link active" href="{{ url_for('documents.download', label=doc.label) }}"> <img src="{{url_for('static', filename='img/download.svg')}}" height=24 /> Download</a>
<a class="nav-link active" href="{{ url_for('documents.docs_tree') }}"> <img src="{{url_for('static', filename='img/list-columns-reverse.svg')}}" height=24 /> Overview</a>
{% endblock pagenavbar%}

{% block content %}
<p>

</p>

<div class="card">
	<div class="card-header">
		<div class="d-md-flex flex-md align-items-center justify-content-between">
			<h1> {{doc.title}} </h1>
			{% if g.user.role_member.name=='Supervisor' %}
			<button class="btn btn-outline-secondary btn my-2 my-md-0" title="Delete {{doc.title}}" _="on click js return confirm('Are you sure to delete {{doc.title}}?') end
																				   if it is true
																					go to url {{ url_for('documents.delete', label=doc.label) }}">
				<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
			</button>
			{%endif%}
		</div>
		<nav aria-label="breadcrumb">
		  	<ol class="breadcrumb">
			{% for url in urls %}
				{%if not loop.last%}
			  	<li class="breadcrumb-item"><a href="{{ url_for('documents.show', label=url) }}">{{url}}</a></li>
			  	{% else %}
			    <li class="breadcrumb-item active" aria-current="page">{{url}}</li>
			</ol>
		</nav>
			{% endif %}
		    {% endfor %}
</p>
	</div>
	<div class="card-body">
		<p class="card-title">
			by <em>{{ creator }}</em> created <em>{{ doc.created.strftime('%Y-%m-%d') }}</em>. Last updated
			by <em>{{ update }}</em> in <em>{{ doc.updated.strftime('%Y-%m-%d') }}</em>.
		</p>
		<p class="card-text">
			{{doc.body|markdown|safe}}
		</p>
	</div>
</div>

<p>
<div class="card">
	<div class="card-body">
		<h4 class="card-title"> Linked to (children)</h4>
		<p class="card-title">
			{% for child in doc.children%}
			<a href="{{ url_for('documents.show', label=child.label, p_id=doc.id) }}">{{child.label}}</a>
			<button class="btn btn-outline-secondary btn-sm my-2 my-md-0" title="Remove child link to {{child.label}}" _="on click js return confirm('Are you sure to delete link to {{child.label}}?') end
																				   if it is true
																					go to url {{ url_for('documents.remove_child', d_id=child.id, p_id=doc.id) }}">
				<img 	src="{{url_for('static', filename='img/eraser.svg')}}">
			</button>
			{%if not loop.last%}
			,
			{% endif %}
			{%endfor%}
		</p>
	</div>
</div>
</p>
<p>
	{% import 'macros/dropezone.html' as dropezone %}
	{{ dropezone.file_list(files, ['d',doc.id]) }}
</p>
{% endblock %}

{% block scripts %}
{{super()}}
{% include 'macros/dropezone_script.html' %}
{%- endblock scripts %}

