{% extends 'base.html' %}

{% block title %} Documents Overview {% endblock %}

{%- block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown_table.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('documents.show', label='index') }}"> <img src="{{url_for('static', filename='img/arrow-return-left.svg')}}" height=24/> Back </a>
{% endblock pagenavbar%}

{% block content %}

<p>
<div class="card">
	<div class="card-header">
		<h2>Documents tree</h2>
	</div>
	<div class="card-body">
		<h5 class="card-title">Page and linked pages</h5>
		<p class="card-text">
			{# {{'index'|recursive_tree|safe}} #}
			{{ body | safe}}
	   </p>
	</div>
</div>
</p>

<p>
{% for key, value in child_dict.items() %}
    {% if loop.index == 1 %}
    <div class="card">
    	<div class="card-header">
    		<h2>Non-referenced pages</h2>
    	</div>
    <div class="card-body">
		<p class="card-text">
		<ul>
    {%endif %}
    <li> Document ID: {{key }} List of document children: {{ value }}</li>
    {% if loop.last %}
        </ul>
      </p>
    </div>
    </div>
    {%endif%}
{% endfor %}
</p>
{% endblock %}

