{% extends 'base.html' %}

{% block title %} All P/P/M{% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('instruments.index') }}"> <img src="{{url_for('static', filename='img/arrow-return-left.svg')}}" height=24 /> Instruments</a>
{% endblock pagenavbar %}

{% block content %}
<p>
		<div class="card">
			  <div class="card-header">
					<h2 class="card-title"> All Instrumentation Journal Entries of the group</h2>
			  </div>

		{% for entry in g.user.group_member.journal_entries %}
				{% if loop.index == 1 %}
				<div class="card-body">
					<p class="card-text">
						<table id="data" class="table table-hover" style="width:100% !important;">
							<thead>
								<tr>
									<th scope="col">Date</th>
									<th scope="col">Title</th>
									<th scope="col"> Type </th>
									<th scope="col">Instrument</th>
									<th scope="col">Author</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
				{% endif %}
							<tr>
								<td>{{ entry.created.strftime('%Y-%m-%d, %H:%M ') }}</td>
								<td> <a class="action" href="{{ url_for('entry.entry_view', eid=entry.id) }}">{{ entry.identifier }}</a> </td>
								<td>
									{% if entry.etype.name %}
										{{ entry.etype.name }}
									{% else %}
										None
									{% endif %}
								</td>
								<td><a class="action" href="{{url_for('instruments.instrument_view', iid=entry.instrument.id) }}">{{ entry.instrument.identifier }}</a> </td>
								<td>{{ entry.creator.UserName }}</td>
								<td>
										<button class="btn btn-outline-secondary btn-sm mt-1" title="Info {{entry.identifier}}" _="on click go to url {{ url_for('entry.update', eid=entry.id) }}">
											<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
										</button>
										<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{entry.identifier}}" _="on click js return confirm('Are you sure to delete {{entry.identifier}}?') end
																						   if it is true
																							go to url {{ entry.id | safe_url_for('entry.delete_lv', config['SEC_SESSION_KEY'] ,g.salt)}}">
											<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
										</button>
								</td>
							</tr>
				{% if loop.last %}
							</tbody>
						</table>
					</p>
				</div>
		</div>
			{% endif %}
			{% else %}
				<div class="card-body">
					<p class="card-text">The group has no Instrumentation Journal Entries, yet</p>
				</div>
		</div>
			{% endfor %}
</p>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

	<script>
		$(document).ready(function () {
		$('#data').DataTable({"pageLength": 25,
		"order": [[ 0, 'desc' ], [ 1, 'asc' ]],
		"columnDefs": [{ "orderable": false, "targets": 5 }]
		});
		});
	</script>

{%- endblock scripts %}
