{% extends 'base.html' %}

{% block title %} {%if entry == None %} New entry {% else %} Edit instrumentation journal entry {{ entry.identifier }} {% endif %}{% endblock title%}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
{%if entry == None %}
<form hx-put="{{ url_for('entry.htmx_fill_template',iid=iid)}}"
	  hx-target="#create_form"
	  hx-indicator=".htmx-indicator"
	  class="form-inline">

	<div class="nav-link active">
		{{ choose_template_form.hidden_tag() }}
		{{ choose_template_form.template(class_="form-control form-control-sm") }}
		{{ choose_template_form.use(class_="btn btn-outline-primary btn-sm") }}
	</div>
</form>
{% endif %}
{% endblock pagenavbar %}

{% block content %}
	<p>
	<h2> {%if entry == None %} New instrumentation journal entry {% else %} Edit instrumentation journal entry {{ entry.identifier }} {% endif %} </h2>
		<form id="create_form" method=post>
			{%include "entry/inner_create_form.html" %}
		</form>
	</p>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>

    <script>
        var simplemde = new SimpleMDE({ element: $("#description")[0],
        spellChecker: false,
        blockStyles: {
    		code: "~~~~"
    	},
        toolbar: ["bold", "italic", "heading-2","heading-3", "|","horizontal-rule", "code", "unordered-list", "ordered-list", "|", "table", "link", "|", "preview" ],
        parsingConfig: {
		 strikethrough: false,
    	},
    	renderingConfig: {
    		singleLineBreaks: false,
        },
        forceSync: true });
    </script>


{%- endblock scripts %}

