{% extends 'base.html' %}

{% block title %} {{entry.identifier}} {% endblock %}

{%- block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown_table.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('instruments.log_view', iid=entry.instrument.id) }}"> <img src="{{url_for('static', filename='img/arrow-return-left.svg')}}" height=24/> JEntries</a>
<a class="nav-link active" href="{{ url_for('entry.update', eid=entry.id) }}"> <img src="{{url_for('static', filename='img/pencil.svg')}}" height=24/> Edit</a>
<a class="nav-link active" href="{{ url_for('template.create_template_from_entry', eid=entry.id) }}"><img src="{{url_for('static', filename='img/journal-richtext.svg')}}" height=24/> Template</a>

{% if entry.instrument.default_ess_template_id is none %}
	<a class="nav-link active" href="{{ url_for('samples.create', tid=0) }}"><img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
{% else %}
	<a class="nav-link active" href="{{ url_for('samples.create', tid=entry.instrument.default_ess_template_id) }}"><img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
{% endif %}

{% endblock pagenavbar%}

{% block content %}
	<p></p>
	<div class="card">
		<div class="card-header">
			<h2> {{entry.identifier}} </h2>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ url_for('instruments.index') }}"> Instruments</a></li>
				<li class="breadcrumb-item"><a href="{{ url_for('instruments.instrument_view', iid=entry.instrument.id) }}">{{ entry.instrument.identifier }}</a></li>
				<li class="breadcrumb-item"><a href="{{ url_for('instruments.log_view', iid=entry.instrument.id) }}">List</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{entry.identifier}} </li>
			</ol>
		</nav>
		</div>
		<div class="card-body">
			<p class="card-title">

				<em>
					{% if entry.etype.name %}
						{{ entry.etype.name }}
					{% else %}
						No entry type
					{% endif %}

				</em> by <em>{{ entry.creator.UserName }}</em> created/updated <em>{{ entry.updated.strftime('%Y-%m-%d') }}</em>
				on <em>{{ entry.instrument.identifier }}</em>

			</p>
		</div>
	</div>

	<p>
		<div class="card">
			<div class="card-body">
				<div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
					<button class="btn btn-sm btn-outline-secondary my-2 my-md-0" type="button" data-toggle="collapse" data-target="#collapse_description" aria-expanded="false" aria-controls="collapse_description">
					Hide/Show
					</button>
					<h2 class="card-title col-8">Description</h2>
				</div>
				<div class="collapse show" id="collapse_description">
					<p class="card-text">
						{{entry.description|markdown|safe}}
					</p>
				</div>
			</div>
		</div>
	</p>
	<p>
	{% import 'macros/dropezone.html' as dropezone %}
	{{ dropezone.file_list(files, ['e', entry.id, entry.instrument.id, entry.instrument.identifier]) }}
	</p>
{% endblock %}

{% block scripts %}
	{{super()}}
{% include 'macros/dropezone_script.html' %}
{%- endblock scripts %}
