<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" role="dialog" style="display:block;">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header d-md-flex flex-md align-items-center justify-content-between">
		  	<h5 class="modal-title">Associated Images</h5>
			<button type="button" class="close" aria-label="Close" _="on click remove #modal-backdrop then remove #modal">
  			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p>Images are shown with their preview link for easy copy and past to the markdown area.</p>
		  <p>
			  {% for file in urls %}
			  <div class="text-nowrap" _="on click put '{{file}}' at end of #long_dis"> {{file}} </div>
			{%else%}
				No images found.
			  {% endfor %}
		  </p>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-info" _="on click remove #modal-backdrop then remove #modal">Close</button>
		</div>
	  </div>
	</div>
  </div>