<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" role="dialog" style="display:block;">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header d-md-flex flex-md align-items-center justify-content-between">
		  	<h5 class="modal-title">Markdown Help</h5>
			<button type="button" class="close" aria-label="Close" _="on click remove #modal-backdrop then remove #modal">
  			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p>Below a quick overview over the supported markdown commands.</p>
		  <p>
			  {{help_string | markdown | safe }}
		  </p>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-info" _="on click remove #modal-backdrop then remove #modal">Close</button>
		</div>
	  </div>
	</div>
  </div>