{% extends 'base.html' %}

{% block title %}Choose your {{ what }} template{% endblock %}

{% block content %}
<h2> Choose your  {{ what }} template</h2>

<form method=post>
	{{ form.hidden_tag() }}
	<div class="form-group">
		{{ form.template.label }} {{ form.template(class_="form-control") }}
		{% for error in form.template.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</div>
	<div class="form-group">
		{{ form.use(class_="btn btn-primary") }}
	</div>
</form>
{% endblock %}