{% extends 'base.html' %}

{% block title %} {%if template == None %} New instrument Template {% else %} Edit instrument Template {{ template.tname }} {% endif %}{% endblock title%}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}">
{%- endblock styles %}

{% block content %}
	<h2> {%if template == None %} New instrument template {% else %} Edit instrument template {{ template.tname }} {% endif %} </h2>
	<form method=post>
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.tname.label }} <br> {{ form.tname(class_="form-control") }}
			{% for error in form.tname.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.identifier.label }} <br> {{ form.identifier(class_="form-control") }}
			{% for error in form.identifier.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>

	{# <div class="form-group">
			{{ form.location_id.label }} <br> {{ form.location_id(class_="form-control") }}
			{% for error in form.location_id.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div> #}

		<div class="form-group">
			{{ form.description.label }} <br/>
			We accept <a href="https://daringfireball.net/projects/markdown/basics"> markdown </a> formating here
			<br/>
			{{ form.description(rows='10',class_="form-control") }}
			{% for error in form.description.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.submit(class_="btn btn-primary") }}
		</div>
	</form>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>

    <script>
        var simplemde = new SimpleMDE({ element: $("#long_dis")[0],
        spellChecker: false,
        blockStyles: {
    		code: "~~~~"
    	},
        toolbar: ["bold", "italic", "heading-2","heading-3", "|","horizontal-rule", "code", "unordered-list", "ordered-list", "|", "table", "link", "|", "preview" ],
        parsingConfig: {
		 strikethrough: false,
    	},
    	renderingConfig: {
    		singleLineBreaks: false,
        },
        forceSync: true });
    </script>
{%- endblock scripts %}
