{% extends 'base.html' %}

{% block title %}Samples{% endblock %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('template.create_sample_template', tid=0) }}"><img src="{{url_for('static', filename='img/file-richtext.svg')}}" height=24 /> New E/S/S template</a>
<a class="nav-link active" href="{{ url_for('template.create_measurement_template', tid=0) }}"><img src="{{url_for('static', filename='img/file-earmark-richtext.svg')}}" height=24 /> New P/P/M template</a>
<a class="nav-link active" href="{{ url_for('template.create_instrument_template', tid=0) }}">	<img src="{{url_for('static', filename='img/rocket-fill.svg')}}" /> New Instrument template</a>
<a class="nav-link active" href="{{ url_for('template.create_entry_template', tid=0) }}"><img src="{{url_for('static', filename='img/journal-richtext.svg')}}" height=24 /> New Instrumentation Journal Entry template</a>
{%- endblock pagenavbar %}

{% block content %}
<p></p>
<div class="card">
	<div class="card-header">
		<h2>Experiments/Samples/Simulations Templates</h2>
	</div>
	{% for st in sample %}
	{% if loop.index == 1 %}
	<div class="card-body">
		<p class="card-title">
			<table class="table table-hover">
				<thead>
					<tr>
						<th> Template Name </th>
						<th> Identifier </th>
						<th> Short Description </th>
						<th> Created </th>
						<th> Last update </th>
						<th> Action </th>
					</tr>
				</thead>
				<tbody>
					{% endif %}
					<tr>
						<td>
							{{ st.tname}}
						</td>
						<td>{{ st.identifier }}</td>
						<td>{{ st.short_dis }}</td>
						<td>{{ st.created.strftime('%Y-%m-%d') }}</td>
						<td>{{ st.updated.strftime('%Y-%m-%d') }}</td>
						<td>
							<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{st.tname}}" _="on click go to url {{ url_for('template.create_sample_template', tid=st.id) }}">
								<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
							</button>
							<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{st.tname}}" _="on click js return confirm('Are you sure to delete {{st.tname}}?') end
												   if it is true
													go to url {{ st.id | safe_url_for('template.delete_sample_template', config['SEC_SESSION_KEY'] ,g.salt) }}">
								<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete" aria-label="Delete"/>
							</button>
						</td>
					</tr>
					{% if loop.last %}
				</tbody>
			</table>
			<br>
			<a class="action btn btn-outline-primary" role="button"  href="{{ url_for('template.create_sample_template', tid=0) }}">	<img src="{{url_for('static', filename='img/file-richtext.svg')}}" /> New E/S/S template</a>
		</p>
	</div>
{% endif %}
{% else %}
<div class="card-body">
	<p class="card-title">
	<p>You have not defined any E/S/S templates, yet.</p>
	<a class="action btn btn-outline-primary" role="button"  href="{{ url_for('template.create_sample_template', tid=0) }}">	<img src="{{url_for('static', filename='img/file-richtext.svg')}}" /> New E/S/S template</a>
	</p>
</div>
{% endfor %}
</div>


<!-- P/P/M templates -->
<p>
<div class="card">
	<div class="card-header">
		<h2>Procedures/Processing/Measurements Templates</h2>
	</div>
	{% for mt in measurement %}
		{% if loop.index == 1 %}
			<div class="card-body">
				<p class="card-title">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col"> Template name</th>
								<th scope="col"> Title </th>
								<th scope="col"> Date</th>
								<th scope="col"> Last update </th>
								<th scope="col"> Action </th>
							</tr>
						</thead>
						<tbody>
		{% endif %}
							<tr>
								<td>{{ mt.tname }}</td>
								<td>{{ mt.short_dis}}</td>
								<td>{{ mt.created.strftime('%Y-%m-%d') }}</td>
								<td>{{ mt.updated.strftime('%Y-%m-%d') }}</td>
								<td>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{mt.tname}}" _="on click go to url {{ url_for('template.create_measurement_template', tid=mt.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{mt.tname}}" _="on click js return confirm('Are you sure to delete {{mt.tname}}?') end
												   if it is true
													go to url {{ mt.id | safe_url_for('template.delete_measurement_template', config['SEC_SESSION_KEY'], g.salt) }}">
										<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
									</button>
								</td>
							</tr>
							{% if loop.last %}
						</tbody>
					</table>
					<br>
					<a class="action btn btn-outline-primary" role="button" href="{{ url_for('template.create_measurement_template', tid=0) }}">	<img src="{{url_for('static', filename='img/file-earmark-richtext.svg')}}" /> New P/P/M template</a>
				</p>
			</div>
		{% endif %}
{% else %}
<div class="card-body">
	<p class="card-title">
		<p> You have not defined any P/P/M templates, yet.</p>
		<a class="action btn btn-outline-primary" role="button" href="{{ url_for('template.create_measurement_template', tid=0) }}">	<img src="{{url_for('static', filename='img/file-earmark-richtext.svg')}}" /> New P/P/M template</a>
	</p>
</div>
	{% endfor %}
	</div>
</p>


<!-- Instrument templates -->
<p>
<div class="card">
	<div class="card-header">
		<h2>Instrument Templates</h2>
	</div>
	{% for it in instrument %}
		{% if loop.index == 1 %}
			<div class="card-body">
				<p class="card-title">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col"> Template name</th>
								<th scope="col"> Title </th>
								<th scope="col"> Date</th>
								<th scope="col"> Last update </th>
								<th scope="col"> Action </th>
							</tr>
						</thead>
						<tbody>
		{% endif %}
							<tr>
								<td>{{ it.tname }}</td>
								<td>{{ it.identifier}}</td>
								<td>{{ it.created.strftime('%Y-%m-%d') }}</td>
								<td>{{ it.updated.strftime('%Y-%m-%d') }}</td>
								<td>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{it.tname}}" _="on click go to url {{ url_for('template.create_instrument_template', tid=it.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{it.tname}}" _="on click js return confirm('Are you sure to delete {{it.tname}}?') end
												   if it is true
													go to url {{ it.id | safe_url_for('template.delete_instrument_template', config['SEC_SESSION_KEY'], g.salt) }}">
										<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
									</button>
								</td>
							</tr>
							{% if loop.last %}
						</tbody>
					</table>
					<br>
					<a class="action btn btn-outline-primary" role="button" href="{{ url_for('template.create_instrument_template', tid=0) }}">	<img src="{{url_for('static', filename='img/rocket-fill.svg')}}" /> New instrument template</a>
				</p>
			</div>
		{% endif %}
{% else %}
<div class="card-body">
	<p class="card-title">
	<p>You have not defined any instrument templates, yet.</p>
	<a class="action btn btn-outline-primary" role="button" href="{{ url_for('template.create_instrument_template', tid=0) }}">	<img src="{{url_for('static', filename='img/rocket-fill.svg')}}" /> New Instrument template</a>

	</p>
</div>
	{% endfor %}
	</div>
</p>


<!-- Instrumentation journal entry templates -->
<p>
<div class="card">
	<div class="card-header">
		<h2>Instrumentation Journal Entry Templates</h2>
	</div>
	{% for et in entry %}
		{% if loop.index == 1 %}
			<div class="card-body">
				<p class="card-title">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col"> Template name</th>
								<th scope="col"> Title </th>
								<th scope="col"> Date</th>
								<th scope="col"> Last update </th>
								<th scope="col"> Action </th>
							</tr>
						</thead>
						<tbody>
		{% endif %}
							<tr>
								<td>{{ et.tname }}</td>
								<td>{{ et.identifier}}</td>
								<td>{{ et.created.strftime('%Y-%m-%d') }}</td>
								<td>{{ et.updated.strftime('%Y-%m-%d') }}</td>
								<td>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{et.tname}}" _="on click go to url {{ url_for('template.create_entry_template', tid=et.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{et.tname}}" _="on click js return confirm('Are you sure to delete {{et.tname}}?') end
												   if it is true
													go to url {{ et.id | safe_url_for('template.delete_entry_template', config['SEC_SESSION_KEY'], g.salt) }}">
										<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
									</button>
								</td>
							</tr>
							{% if loop.last %}
						</tbody>
					</table>
					<br>
					<a class="action btn btn-outline-primary" role="button" href="{{ url_for('template.create_entry_template', tid=0) }}">	<img src="{{url_for('static', filename='img/journal-richtext.svg')}}" /> New Instrumentation Journal Entry template</a>
				</p>
			</div>
		{% endif %}
{% else %}
<div class="card-body">
	<p class="card-title">
		<p>You have not defined any instrumentation journal entry templates, yet.</p>
		<a class="action btn btn-outline-primary" role="button" href="{{ url_for('template.create_entry_template', tid=0) }}">	<img src="{{url_for('static', filename='img/journal-richtext.svg')}}" /> New Instrumentation Journal Entry template</a>
	</p>
</div>
	{% endfor %}
	</div>
</p>
{% endblock %}
