{% extends 'base.html' %}

{% block title %}
	{%if sample == None %}
		New Measurement
	{% else %}
		Edit Measurement {{ temp.tname }}
	{% endif %}
{% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
{%- endblock pagenavbar %}

{% block content %}
	<h2>{%if temp == None %}
		New Measurement Template
	{% else %}
		Edit Measurement Template {{ temp.tname }}
	{% endif %}</h2>

	<form method=post>
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.tname.label }} <br> {{ form.tname(class_="form-control") }}
			{% for error in form.tname.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.short_dis.label }} <br> {{ form.short_dis(class_="form-control") }}
			{% for error in form.short_dis.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group row">
			<div class="col">
				{{ form.mtype.label }} <br> {{ form.mtype(class_="form-control") }}
				{% for error in form.mtype.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="col">
				{{ form.instrument_id.label }} <br> {{ form.instrument_id(class_="form-control", disabled="disabled") }}
				{% for error in form.instrument_id.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
		</div>
		<div class="form-group">
			{{ form.creator.label }} <br> {{ form.creator(class_="form-control") }}
			{% for error in form.short_dis.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.long_dis.label }} <br>
			We except markdown formating here
			<br>
			{{ form.long_dis(rows='10',class_="form-control") }}
			{% for error in form.long_dis.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.submit(class_="btn btn-primary") }}
		</div>
	</form>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>

    <script>
        var simplemde = new SimpleMDE({ element: $("#long_dis")[0],
        spellChecker: false,
        blockStyles: {
    		code: "~~~~"
    	},
        toolbar: ["bold", "italic", "heading-2","heading-3", "|","horizontal-rule", "code", "unordered-list", "ordered-list", "|", "table", "link", "|", "preview" ],
        parsingConfig: {
		 strikethrough: false,
    	},
    	renderingConfig: {
    		singleLineBreaks: false,
        },
        forceSync: true });
    </script>


{%- endblock scripts %}