{% extends 'base.html' %}

{% block title %} {%if temp == None %} New E/S/S Template {% else %} Edit E/S/S Template {{ temp.tname }} {% endif %}{% endblock title%}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}">
{%- endblock styles %}

{% block content %}
	<h2> {%if temp == None %} New Experiment/Sample/Simulation Template {% else %} Edit E/S/S Template {{ temp.tname }} {% endif %} </h2>
	<form method=post>
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.tname.label }} <br> {{ form.tname(class_="form-control") }}
			{% for error in form.tname.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.identifier.label }} <br> {{ form.identifier(class_="form-control") }}
			{% for error in form.identifier.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group ">			
    		{{ form.origin.label }} <br> {{ form.origin(class_="form-control") }}
			{% for error in form.origin.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}			
		</div>
		<div class="form-group">
			{{ form.short_dis.label }} <br> {{ form.short_dis(class_="form-control") }}
			{% for error in form.short_dis.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.long_dis.label }} <br/>
			We accept <a href="https://daringfireball.net/projects/markdown/basics"> markdown </a> formating here
			<br/>
			{{ form.long_dis(rows='10',class_="form-control") }}
			{% for error in form.long_dis.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.submit(class_="btn btn-primary") }}
		</div>
	</form>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>

    <script>
        var simplemde = new SimpleMDE({ element: $("#long_dis")[0],
        spellChecker: false,
        blockStyles: {
    		code: "~~~~"
    	},        
        toolbar: ["bold", "italic", "heading-2","heading-3", "|","horizontal-rule", "code", "unordered-list", "ordered-list", "|", "table", "link", "|", "preview" ],
        parsingConfig: {
		 strikethrough: false,		
    	},
    	renderingConfig: {
    		singleLineBreaks: false,
        },    	
        forceSync: true });
    </script>


{%- endblock scripts %}	