{% extends 'base.html' %}

{% block title %} All P/P/M{% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
    <a class="nav-link active" href="{{ url_for('samples.create', tid=0) }}"> <img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
	<a class="nav-link active" href="{{ url_for('samples.allsamples') }}"> <img src="{{url_for('static', filename='img/file-spreadsheet.svg')}}" height=24 /> All E/S/S</a>
	<a class="nav-link active" href="{{ url_for('samples.allsharedsamples') }}"> <img src="{{url_for('static', filename='img/share.svg')}}" height=24 /> Shared E/S/S </a>
	{% if g.user.role_member.name=='Supervisor' %}
		<a class="nav-link active" href="{{ url_for('samples.groupsamples') }}"> <img src="{{url_for('static', filename='img/files.svg')}}" height=24 /> Group E/S/S </a>
	{% endif %}
		<a class="nav-link disabled" > <img src="{{url_for('static', filename='img/file-earmark-spreadsheet.svg')}}" height=24 /> All P/P/M</a>
{% endblock pagenavbar %}

{% block content %}
<p>
	{% for measurement in g.user.measurements %}
		{% if loop.index == 1 %}
		<div class="card">
			<div class="card-header">
				<h2 class="card-title"> All your Procedures/Processes/Measurements</h2>
		  	</div>
		  	<div class="card-body">
					<p class="card-text">
					<table id="data" class="table table-hover" style="width:100% !important; table-layout: fixed;">
						<thead>
							<tr>
								<th scope="col" style="width:25%;"> Title </th>
								<th scope="col"> E/S/S </th>
								<th scope="col"> Type </th>
								<th scope="col"> By</th>
								<th scope="col"> Date</th>
								<th scope="col"> Last update </th>
								<th scope="col" style="width:5%; text-align:center;"> Action </th>
							</tr>
						</thead>
					<tbody>
		{%endif %}
					<tr>
						<td> <a class="action" href="{{ url_for('measurements.measurement_view', mid=measurement.id) }}">{{ measurement.short_dis }}</a></td>
						<td> <a class="action" href="{{ url_for('samples.sample_view', sid=measurement.measurement_sample.id) }}">{{ measurement.measurement_sample.identifier}} </a></td>
						<td>{{ measurement.measurement_type.name }}</td>
						<td>{{ measurement.creator }}</td>
						<td>{{ measurement.created.strftime('%Y-%m-%d') }}</td>
						<td>{{ measurement.updated.strftime('%Y-%m-%d') }}</td>
						<td style="text-align:center;">
							<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{measurement.short_dis}}" _="on click go to url {{ url_for('measurements.update', mid=measurement.id) }}">
								<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
							</button>
						</td>
					</tr>
		{% if loop.last %}
					</tbody>
				</table>

			</div>
		</div>
		{% endif %}
	{% endfor %}
</p>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

	<script>
		$(document).ready(function () {
		$('#data').DataTable({"pageLength": 25,
		"order": [[ 5, 'desc' ], [ 0, 'asc' ]],
		"columnDefs": [{ "orderable": false, "targets": 6 }]
		});
		});
	</script>

{%- endblock scripts %}
