{% extends 'base.html' %}

{% block title %}
	{%if measurement == None %}
		New Measurement
	{% else %}
		Edit Measurement {{ measurement.short_dis }}
	{% endif %}
{% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
{%if measurement == None %}
<form hx-put="{{ url_for('measurements.htmx_fill_template')}}"
	  hx-target="#create_form"
	  hx-indicator=".htmx-indicator"
	  class="form-inline">
	<div class="nav-link active">
		{{ choose_form.hidden_tag() }}
		{{ choose_form.template(class_="form-control form-control-sm") }}
		{{ choose_form.use(class_="btn btn-outline-primary btn-sm") }}
	</div>
</form>
{% endif %}
{%- endblock pagenavbar %}

{% block content %}
	<p>
	{%if measurement == None %}
		<h2>New Measurement</h2>
	{% else %}
		<h2>Edit Measurement {{ measurement.short_dis }}</h2>
	{% endif %}

	<form method=post id="create_form">
		{% include "measurements/inner_form.html" %}
	</form>
</p>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>

    <script>
        var simplemde = new SimpleMDE({ element: $("#long_dis")[0],
        spellChecker: false,
        blockStyles: {
    		code: "~~~~"
    	},
        toolbar: ["bold", "italic", "heading-2","heading-3", "|","horizontal-rule", "code", "unordered-list", "ordered-list", "|", "table", "link", "|", "preview" ],
        parsingConfig: {
		 strikethrough: false,
    	},
    	renderingConfig: {
    		singleLineBreaks: false,
        },
        forceSync: true });
    </script>


{%- endblock scripts %}
