{% extends 'base.html' %}

{% block title %}Measurement {{measurement.short_dis}}{% endblock %}

{%- block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown_table.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('measurements.update', mid=measurement.id) }}"> <img src="{{url_for('static', filename='img/pencil.svg')}}" height=24/> Edit</a>
<a class="nav-link active" href="{{ url_for('template.create_template_from_measurement', m_id=measurement.id) }}"> <img src="{{url_for('static', filename='img/file-earmark-richtext.svg')}}" height=24/> Template</a>
<a class="nav-link active" href="{{ url_for('report.create', mid=measurement.id) }}"><img src="{{url_for('static', filename='img/file-earmark-plus-fill.svg')}}" height=24/> New Report</a>
{% endblock pagenavbar %}

{% block content %}
<p>

</p>
<div class="card">
	<div class="card-header">
		<h2>{{measurement.short_dis}}</h2>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ url_for('samples.sample_view', sid=measurement.sample_id) }}">{{measurement.measurement_sample.identifier}}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{measurement.short_dis}}</li>
			</ol>
		</nav>
	</div>
	<div class="card-body">
		<p class="card-title">
			<em>{{measurement.measurement_type.name }}</em> by <em>{{ measurement.creator }}</em> inserted/updated <em>{{ measurement.updated.strftime('%Y-%m-%d') }}</em>.
		</p>
		{% if not measurement.instrument_id is none %}
		<p class="card-title">
			Made with instrument
			<a class="action" href="{{ url_for('instruments.instrument_view', iid=measurement.instrument.id) }}">
				{{ measurement.instrument.identifier }}
			</a>
		</p>
		{% endif %}
	</div>
</div>

<p>
	<div class="card">
		<div class="card-body">
			<div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
				<button class="btn btn-sm btn-outline-secondary my-2 my-md-0" type="button" data-toggle="collapse" data-target="#collapse_description" aria-expanded="false" aria-controls="collapse_description">
				Hide/Show
				</button>
				<h2 class="card-title col-8">Description</h2>
			</div>


			<div class="collapse show" id="collapse_description">
				<p class="card-text">
					{{measurement.long_dis|markdown|safe}}
				</p>
			</div>
		</div>
	</div>
</p>
<p>
	{% for report in measurement.reports %}
	{% if loop.index == 1 %}
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Associated Reports</h2>
			<p class="card-text">
				<table class="table table-hover">
					<thead>
						<tr>
							<th> Title </th>
							<th> By </th>
							<th> Created </th>
							<th> Updated </th>
							<th> Action </th>
						</tr>
					</thead>
					<tbody>
						{% endif %}
						<tr>
							<td><a class="action" href="{{ url_for('report.report_view', rid=report.id) }}">{{ report.title }}</A></td>
							<td>{{ report.creator }}</td>
							<td>{{ report.created.strftime('%Y-%m-%d') }}</td>
							<td>{{ report.updated.strftime('%Y-%m-%d') }}</td>
							<td>
								<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{report.title}}" _="on click go to url {{ url_for('report.update', rid=report.id) }}">
									<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
								</button>
								<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{report.title}}" _="on click js return confirm('Are you sure yo delete {{report.title}}?') end
                                                                                           if it is true
                                                                                            go to url {{ report.id | safe_url_for('report.delete', config['SEC_SESSION_KEY'] ,g.salt)}}">
									<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
								</button>
							</td>
						</tr>
						{% if loop.last %}
					</tbody>
				</table>
				<br>
				<a class="action btn btn-outline-primary" role="button" href="{{ url_for('report.create', mid=measurement.id) }}">	<img src="{{url_for('static', filename='img/file-earmark-plus-fill.svg')}}" /> New Report</a>
			</p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</p>
<p>
	{% import 'macros/dropezone.html' as dropezone %}
	{{ dropezone.file_list(files, ['m',measurement.id,measurement.sample_id,measurement.measurement_sample.identifier]) }}
</p>
{% endblock %}

{% block scripts %}
	{{super()}}
	{% include 'macros/dropezone_script.html' %}
{%- endblock scripts %}
