{% extends 'base.html' %}

{% block title %} All E/S/S shared {% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
    <a class="nav-link active" href="{{ url_for('samples.create', tid=0) }}"><img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
	<a class="nav-link active" href="{{ url_for('samples.allsamples') }}"> <img src="{{url_for('static', filename='img/file-spreadsheet.svg')}}" height=24 /> All E/S/S</a>
	<a class="nav-link disabled"><img src="{{url_for('static', filename='img/share.svg')}}" height=24 /> Shared E/S/S </a>
	{% if g.user.role_member.name=='Supervisor' %}
		<a class="nav-link active" href="{{ url_for('samples.groupsamples') }}">
			<img src="{{url_for('static', filename='img/files.svg')}}" height=24 /> Group E/S/S </a>
	{% endif %}
	<a class="nav-link active" href="{{ url_for('measurements.allmeasurements') }}"> <img src="{{url_for('static', filename='img/file-earmark-spreadsheet.svg')}}" height=24 /> All P/P/M</a>
{% endblock pagenavbar %}

{% block content %}
<p>
	{% for sample in g.user.sharedsamples %}
		{% if loop.index == 1 %}
		<div class="card">
			<div class="card-header">
				<h2 class="card-title"> All Experiments/Samples/Simulations shared with you</h2>
			</div>
			<div class="card-body">
				<p class="card-text">
					<table id="data" class="s_sample table table-hover" style="width:100% !important; table-layout: fixed;">
						<thead>
							<tr>
								<th scope="col"> Identifier </th>
								<th scope="col" style="width:25%;"> Short Description </th>
								<th scope="col"> Origin </th>
								<th scope="col"> Created </th>
								<th scope="col"> Last update </th>
								<th scope="col" style="width:5%; text-align:center;"> Action </th>
							</tr>
						</thead>
						<tbody>
						{%endif %}
							<tr>
								<td>
									<a class="action" href="{{ url_for('samples.sample_view', sid=sample.id) }}">{{ sample.identifier }}</a>
								</td>
								<td>{{ sample.short_dis }}</td>
								<td>{{ sample.origin}}</td>
								<td>{{ sample.created.strftime('%Y-%m-%d') }}</td>
								<td>{{ sample.updated.strftime('%Y-%m-%d') }}</td>
								<td style="text-align:center;">
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{sample.identifier }}" _="on click go to url {{url_for('samples.update', sid=sample.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
									</button>
								</td>
							</tr>
						{% if loop.last %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
		{% endif %}
	{% endfor %}
</p>

	{% for sample in g.user.samples %}
			{% if loop.changed() %}
			<p>
			<div class="card">
				<div class="card-header">
					<h2 class="card-title"> All Experiments/Samples/Simulations you shared with someone</h2>
				</div>
				<div class="card-body">
					<p class="card-text">
						<table id="" class="table table-hover s_sample" style="width:100% !important; table-layout: fixed;">
							<thead>
								<tr>
									<th scope="col"> Identifier </th>
									<th scope="col" style="width:25%;"> Short Description </th>
									<th scope="col"> Origin </th>
									<th scope="col"> Location </th>
									<th scope="col"> Last update </th>
									<th scope="col" style="width:10%; text-align:center;"> Action </th>
								</tr>
							</thead>
							<tbody>
							{%endif %}
							{% if sample.is_shared %}
								<tr>
									<td>
										<a class="action" href="{{ url_for('samples.sample_view', sid=sample.id) }}">{{ sample.identifier }}</a>
									</td>
									<td>{{ sample.short_dis }}</td>
									<td>{{ sample.origin}}</td>
									<td>{{ sample.sample_location.name }}</td>
									<td>{{ sample.updated.strftime('%Y-%m-%d') }}</td>
									<td style="text-align:center;">
										<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{sample.identifier }}" _="on click go to url {{url_for('samples.update', sid=sample.id) }}">
											<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
										</button>
									</td>
								</tr>
							{%endif %}
			{% if loop.last %}
							</tbody>
						</table>
					</p>
				</div>
			</div>
			</p>
			{% endif %}

	{% endfor %}

{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

	<script>
		$(document).ready(function () {
		$('table.s_sample').DataTable({"pageLength": 25,
		"order": [[ 4, 'desc' ], [ 0, 'asc' ]],
		"columnDefs": [{ "orderable": false, "targets": 5 }]
		});
		});
	</script>

{%- endblock scripts %}
