{% extends 'base.html' %}

{% block title %} {%if sample == None %} New E/S/S {% else %} Edit E/S/S {{ sample.identifier }} {% endif %}{% endblock title%}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
{%if sample == None %}
<form hx-put="{{ url_for('samples.htmx_fill_template')}}"
	  hx-target="#create_form"
	  hx-indicator=".htmx-indicator"
	  class="form-inline">
	<div class="nav-link active">
		{{ chose_form.hidden_tag() }}
		{{ chose_form.template(class_="form-control form-control-sm") }}
		{{ chose_form.use(class_="btn btn-outline-primary btn-sm") }}
	</div>
</form>
{% endif %}
{%- endblock pagenavbar %}

{% block content %}
<p>
	<h2> {%if sample == None %} New Experiment/Sample/Simulation {% else %} Edit E/S/S {{ sample.identifier }} {% endif %} </h2>
	<form id="create_form" method=post>
		{% include "samples/inner_form.html" %}
	</form>
</p>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>

    <script>
        var simplemde = new SimpleMDE({ element: $("#long_dis")[0],
        spellChecker: false,
        blockStyles: {
    		code: "~~~~"
    	},
        toolbar: ["bold", "italic", "heading-2","heading-3", "|","horizontal-rule", "code", "unordered-list", "ordered-list", "|", "table", "link", "|", "preview" ],
        parsingConfig: {
		 strikethrough: false,
    	},
    	renderingConfig: {
    		singleLineBreaks: false,
        },
        forceSync: true });
    </script>


{%- endblock scripts %}