{% extends 'base.html' %}

{% block title %} All E/S/S{% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}

    <a class="nav-link active" href="{{ url_for('samples.create', tid=0) }}"> <img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
	<a class="nav-link active" href="{{ url_for('samples.allsamples') }}"> 	<img src="{{url_for('static', filename='img/file-spreadsheet.svg')}}" height=24 /> All E/S/S</a>
	<a class="nav-link active" href="{{ url_for('samples.allsharedsamples') }}"> <img src="{{url_for('static', filename='img/share.svg')}}" height=24 /> Shared E/S/S </a>
	{% if g.user.role_member.name=='Supervisor' %}
		<a class="nav-link disabled"> <img src="{{url_for('static', filename='img/files.svg')}}" height=24 /> Group E/S/S </a>
	{% endif %}
	<a class="nav-link active" href="{{ url_for('measurements.allmeasurements') }}"> <img src="{{url_for('static', filename='img/file-earmark-spreadsheet.svg')}}" height=24 /> All P/P/M</a>
{% endblock pagenavbar %}

{% block content %}
<p>
	{% for sample in samples %}
		{% if loop.index == 1 %}
		<div class="card">
			<div class="card-header">
				<h2 class="card-title"> Experiments/Samples/Simulations of your group</h2>
			</div>
			<div class="card-body">
				<p class="card-text">
					<table id="data" class="table table-hover" style="width:100% !important; table-layout: fixed;">
						<thead>
							<tr>
								<th scope="col"> Identifier </th>
								<th scope="col" style="width:25%;"> Short Description </th>
								<th scope="col"> Origin </th>
								<th scope="col"> Owner </th>
								<th scope="col"> Location </th>
								<th scope="col"> Last update </th>
							</tr>
						</thead>
						<tbody>
		{%endif %}
							<tr>
								<td>{{ sample.identifier }}</td>
								<td>{{ sample.short_dis  | truncate(50) }}</td>
								<td>{{ sample.origin}}</td>
								<td>{{ sample.sample_owner.UserName}}</td>
								<td>{{ sample.sample_location.name}}</td>
								<td>{{ sample.updated.strftime('%Y-%m-%d') }}</td>
							</tr>
		{% if loop.last %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
		{% endif %}
	{% endfor %}
</p>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

	<script>
		$(document).ready(function () {
		$('#data').DataTable({"pageLength": 25,
		"order": [[ 5, 'desc' ], [ 0, 'asc' ]]});
		});
	</script>

{%- endblock scripts %}
