{% extends 'base.html' %}

{% block title %}Samples{% endblock %}

{% block pagenavbar %}
    <a class="nav-link active" href="{{ url_for('samples.create', tid=0) }}">
		<img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
	<a class="nav-link active" href="{{ url_for('samples.allsamples') }}">
		<img src="{{url_for('static', filename='img/file-spreadsheet.svg')}}" height=24 /> All E/S/S</a>
	<a class="nav-link active" href="{{ url_for('samples.allsharedsamples') }}">
		<img src="{{url_for('static', filename='img/share.svg')}}" height=24 /> Shared E/S/S </a>
	{% if g.user.role_member.name=='Supervisor' %}
		<a class="nav-link active" href="{{ url_for('samples.groupsamples') }}">
			<img src="{{url_for('static', filename='img/files.svg')}}" height=24 /> Group E/S/S </a>
	{% endif %}
	<a class="nav-link active" href="{{ url_for('measurements.allmeasurements') }}">
		<img src="{{url_for('static', filename='img/file-earmark-spreadsheet.svg')}}" height=24 /> All P/P/M</a>
{%- endblock pagenavbar %}

{% block content %}
<div class="card">
	{% for sample in g.user.samples[:5] %}
		{% if loop.index == 1 %}
		<div class="card-header">
		<h2> Last 5 Entries </h2>
		</div>
		<div class="card-body">

			<h3 class="card-title"> Experiments/Samples/Simulations </h3>
			<p class="card-text">
			<table class="table table-hover">
				<thead>
					<tr>
						<th> Identifier </th>
						<th> Short Description </th>
						<th> Location </th>
						<th> Created </th>
						<th> Last update </th>
						<th> Action </th>
					</tr>
				</thead>
				<tbody>
		{% endif %}
					<tr>
						<td>
							<a class="action" href="{{ url_for('samples.sample_view', sid=sample.id) }}">{{ sample.identifier }}</a>
						</td>
						<td>{{ sample.short_dis }}</td>
						<td>{{ sample.sample_location.name }}</td>
						<td>{{ sample.created.strftime('%Y-%m-%d') }}</td>
						<td>{{ sample.updated.strftime('%Y-%m-%d') }}</td>
						<td>
							<a class="action" href="{{ url_for('samples.update', sid=sample.id) }}">
								<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
							</a>
							<a class="confirmation" href="{{ sample.id | safe_url_for('samples.delete', config['SEC_SESSION_KEY'] ,g.salt)}}">
								<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
							</a>
						</td>
					</tr>
		{% if loop.last %}
				</tbody>
			</table>
		</p>
		</div>
		{% endif %}
	{% else %}
    	<div class="card-body">
		<p class="card-text">You have not defined any samples/experiments/simulation, yet.</p>
		</div>
	{% endfor %}
</div>

<p>
	{% for measurement in g.user.measurements[:5] %}
		{% if loop.index == 1 %}
		<div class="card">
		 <div class="card-body">
			<h3 class="card-title"> Procedures/Processing/Measurements </h3>
			<p class="card-text">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col"> Title </th>
						<th scope="col"> E/S/S </th>
						<th scope="col"> Type </th>
						<th scope="col"> Carried out by</th>
						<th scope="col"> Date</th>
						<th scope="col"> Last update </th>
						<th scope="col"> Action </th>
					</tr>
				</thead>
				<tbody>
			{% endif %}
					<tr>
						<td>
							<a class="action" href="{{ url_for('measurements.measurement_view', mid=measurement.id) }}">{{ measurement.short_dis }}</a>
						</td>
						<td>{{ measurement.measurement_sample.identifier}}</td>
						<td>{{ measurement.measurement_type.name }}</td>
						<td>{{ measurement.creator }}</td>
						<td>{{ measurement.created.strftime('%Y-%m-%d') }}</td>
						<td>{{ measurement.updated.strftime('%Y-%m-%d') }}</td>
						<td>
							<a class="action" href="{{ url_for('measurements.update', mid=measurement.id) }}">
								<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
							</a>
						</td>
					</tr>
			{% if loop.last %}
				</tbody>
			</table>
		</p>
		</div>
		</div>
		{% endif %}
	{% endfor %}
</p>
<p>
	{% for report in g.user.reports[:5] %}
		{% if loop.index == 1 %}
		<div class="card">
		 <div class="card-body">
			<h3 class="card-title">Your Reports</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col"> Title </th>
						<th scope="col"> Sample </th>
						<th scope="col"> By </th>
						<th scope="col"> Date </th>
						<th scope="col"> Last update </th>
						<th scope="col"> Action </th>
					</tr>
				</thead>
				<tbody>
		{% endif %}
					<tr>
						<td>
							<a class="action" href="{{ url_for('report.report_view', rid=report.id) }}"> {{ report.title }} </A>
						</td>
						<td>{{ report.reports_sample.identifier }}</td>
						<td>{{ report.creator }}</td>
						<td>{{ report.created.strftime('%Y-%m-%d')  }}</td>
						<td>{{ report.updated.strftime('%Y-%m-%d')  }}</td>
						<td>
							<a class="action" href="{{ url_for('report.update', rid=report.id) }}">
								<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
							</a>
						</td>
					</tr>
		{% if loop.last %}
				</tbody>
			</table>
		</p>
		</div>
		</div>
		{% endif %}
	{% endfor %}
</p>
<p>
	{% for sample in g.user.sharedsamples[:5] %}
		{% if loop.index == 1 %}
		<div class="card">
				<div class="card-header">
        		<h2> Last 5 shared samples </h2>
        		</div>
		 <div class="card-body">
			<h3 class="card-title"> Experiments/Samples/Simulations shared with you </h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col"> Identifier </th>
						<th scope="col"> Short Description </th>
						<th scope="col"> Origin </th>
						<th scope="col"> Created </th>
						<th scope="col">Last update </th>
						<th scope="col"> Action </th>
					</tr>
				</thead>
				<tbody>
		{%endif%}
					<tr>
						<td>
							<a class="action" href="{{ url_for('samples.sample_view', sid=sample.id) }}">{{ sample.identifier }}</a>
						</td>
						<td>{{ sample.short_dis }}</td>
						<td>{{ sample.origin}}</td>
						<td>{{ sample.created.strftime('%Y-%m-%d') }}</td>
						<td>{{ sample.updated.strftime('%Y-%m-%d') }}</td>
						<td>
							<a class="action" href="{{ url_for('samples.update', sid=sample.id) }}">
								<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
							</a>
						</td>
					</tr>
		{% if loop.last %}
				</tbody>
			</table>
		</p>
		</div>
		</div>
		{% endif %}
	{% endfor %}
</p>
{% endblock %}