{% extends 'base.html' %}

{% block title %} All E/S/S{% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('samples.create', tid=0) }}"><img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
<a class="nav-link active" href="{{ url_for('samples.allsamples') }}"><img src="{{url_for('static', filename='img/file-spreadsheet.svg')}}" height=24 /> All E/S/S</a>
<a class="nav-link active" href="{{ url_for('samples.allsharedsamples') }}"><img src="{{url_for('static', filename='img/share.svg')}}" height=24 /> Shared E/S/S </a>
{% if g.user.role_member.name=='Supervisor' %}
<a class="nav-link active" href="{{ url_for('samples.groupsamples') }}"> <img src="{{url_for('static', filename='img/files.svg')}}" height=24 /> Group E/S/S </a>
{% endif %}
<a class="nav-link active" href="{{ url_for('measurements.allmeasurements') }}"> <img src="{{url_for('static', filename='img/file-earmark-spreadsheet.svg')}}" height=24 /> All P/P/M</a>
{% endblock pagenavbar %}

{% block content %}
<p></p>
{% for sample in samples_list %}
{% if loop.index == 1 %}
<div class="card">
	<div class="card-header">
		<h2 class="card-title"> Last changed Experiments/Samples/Simulations </h2>
	</div>
	<div class="card-body">
		<p class="card-text">

		<table id="data" class="table table-hover" style="width:100% !important; table-layout: fixed;">
			<thead>
				<tr>
					<th scope="col"> Identifier </th>
					<th scope="col" style="width:25%;"> Short Description </th>
					<th scope="col"> Origin </th>
					<th scope="col"> Location </th>
					<th scope="col"> Updated </th>
					<th scope="col" style="width:5%; text-align:center;"> Action </th>
				</tr>
			</thead>
			<tbody>
				{%endif %}
				<tr>
					<td>
						<a class="action" href="{{ url_for('samples.sample_view', sid=sample.id) }}">
							{{ sample.identifier }} </a>
					</td>
					<td>{{ sample.short_dis | truncate(40) }}</td>
					<td>{{ sample.origin | truncate(40)}}</td>
					<td>{{ sample.sample_location.name | truncate(40)}}</td>
					<td>{{ sample.updated.strftime('%Y-%m-%d') }}</td>
					<td style="text-align:center;">
							<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{sample.identifier }}" _="on click go to url {{url_for('samples.update', sid=sample.id) }}">
								<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
							</button>
					</td>
				</tr>
				{% if loop.last %}
			</tbody>
		</table>
		<br>
		<a class="action btn btn-outline-primary" role="button" href="{{ url_for('samples.create', tid=0)}}">	<img src="{{url_for('static', filename='img/file-plus.svg')}}" /> New E/S/S</a>
		</p>
	</div>
</div>
{% endif %}
{% else %}
<div class="card">
	<div class="card-header">
		<h2 class="card-title"> Last Experiments/Samples/Simulations </h2>
	</div>
	<div class="card-body">
		Nothing defined, yet
	</div>
</div>
{% endfor %}


<p>
	{% for measurement in g.user.measurements[:5] %}
	{% if loop.index == 1 %}
<div class="card">
	<div class="card-body">
		<h3 class="card-title"> Procedures/Processing/Measurements </h3>
		<p class="card-text">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col"> Title </th>
					<th scope="col"> E/S/S </th>
					<th scope="col"> Type </th>
					<th scope="col"> Carried out by</th>
					<th scope="col"> Updated </th>
					<th scope="col" style="text-align:center;"> Action </th>
				</tr>
			</thead>
			<tbody>
				{% endif %}
				<tr>
					<td>
						<a class="action" href="{{ url_for('measurements.measurement_view', mid=measurement.id) }}">{{measurement.short_dis }}</a>
					</td>
					<td> <a class="action" href="{{ url_for('samples.sample_view', sid=measurement.measurement_sample.id) }}">
						{{ measurement.measurement_sample.identifier}}</a>
					</td>
					<td>{{ measurement.measurement_type.name }}</td>
					<td>{{ measurement.creator }}</td>
					<td>{{ measurement.updated.strftime('%Y-%m-%d') }}</td>
					<td style="text-align:center;">
						<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{measurement.short_dis}}" _="on click go to url {{url_for('measurements.update', mid=measurement.id) }}">
							<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
						</button>
					</td>
				</tr>
				{% if loop.last %}
			</tbody>
		</table>
		</p>
	</div>
</div>
{% endif %}
{% endfor %}
</p>
<p>
	{% for report in g.user.reports[:5] %}
	{% if loop.index == 1 %}
<div class="card">
	<div class="card-body">
		<h3 class="card-title">Your Reports</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col"> Title </th>
					<th scope="col"> P/P/M  </th>
					<th scope="col"> E/S/S </th>
					<th scope="col"> By </th>

					<th scope="col"> Updated </th>
					<th scope="col" style="text-align:center;"> Action </th>
				</tr>
			</thead>
			<tbody>
				{% endif %}
				<tr>
					<td>
						<a class="action" href="{{ url_for('report.report_view', rid=report.id) }}"> {{ report.title }}
						</a>
					</td>
					<td>
						<a class="action" href="{{ url_for('measurements.measurement_view', mid=report.report_measurement.id) }}">
						{{ report.report_measurement.short_dis }}</a>
					</td>
					<td> <a class="action" href="{{ url_for('samples.sample_view', sid=report.reports_sample.id) }}">
						{{ report.reports_sample.identifier }} </a>
					</td>
					<td>{{ report.creator }}</td>

					<td>{{ report.updated.strftime('%Y-%m-%d') }}</td>
					<td style="text-align:center;">
						<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{report.title}}" _="on click go to url {{ url_for('report.update', rid=report.id) }}">
							<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
						</button>
					</td>
				</tr>
				{% if loop.last %}
			</tbody>
		</table>
		</p>
	</div>
</div>
{% endif %}
{% endfor %}
</p>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

<script>
	$(document).ready(function () {
		$('#data').DataTable({
			"pageLength": 10,
			"order": [[4, 'desc'], [0, 'asc']],
			"columnDefs": [{ "orderable": false, "targets": 5 }]
		});
	});
</script>

{%- endblock scripts %}
