{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.identifier.label }} <br> {{ form.identifier(class_="form-control") }}
			{% for error in form.identifier.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group row">
			<div class="col">
				{{ form.origin.label }} <br> {{ form.origin(class_="form-control") }}
				{% for error in form.origin.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="col">
				{{ form.creator.label }} <br> {{ form.creator(class_="form-control") }}
				{% for error in form.creator.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
		</div>
		<div class="form-group">
			{{ form.short_dis.label }} <br> {{ form.short_dis(class_="form-control") }}
			{% for error in form.short_dis.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.long_dis.label }} <br/>

			<button type="button" class="btn btn-outline-info"
			hx-get="{{ url_for('htmx.htmx_markdown_help')}}"
			hx-target="#modals-here"
			hx-trigger="click"
			_="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Markdown Help</button>

			{% if sample %}
			<button type="button" class="btn btn-outline-info"
			hx-get="{{ url_for('htmx.htmx_image_files', info=['s',sample.id,sample.identifier]) }}"
			hx-target="#modals-here"
			hx-trigger="click"

			_="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Associated Images</button>
			{% endif %}
			<div id="modals-here"></div>
			<br/>
			We accept Markdown formatting here.<br/>

			{{ form.long_dis(rows='10',class_="form-control") }}
			{% for error in form.long_dis.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.submit(class_="btn btn-primary") }}
		</div>