{% extends 'base.html' %}
{% block title %}E/S/S {{sample.identifier}}{% endblock %}

{%- block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown_table.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('samples.update', sid=sample.id) }}"><img src="{{url_for('static', filename='img/pencil.svg')}}" height=24/> Edit</a>
<a class="nav-link active" href="{{ url_for('template.create_template_from_sample', s_id=sample.id) }}"><img src="{{url_for('static', filename='img/file-richtext.svg')}}" height=24/> Template</a>
<a class="nav-link active" href="{{ url_for('samples.summery', sid=sample.id) }}"><img src="{{url_for('static', filename='img/file-medical.svg')}}" height=24/> Summarize </a>
<a class="nav-link active" href="{{ url_for('measurements.create', ids=[sample.id,0]) }}"><img src="{{url_for('static', filename='img/file-earmark-plus.svg')}}" height=24/> New P/P/M</a>
<form method=post class="form-inline">
	<div class="nav-link active">
		{{ share_form.hidden_tag() }}
		{{ share_form.usershare(class_="btn btn-outline-primary btn-sm") }}
		{{ share_form.user(class_="form-control form-control-sm") }}
	</div>
</form>
<form method=post class="form-inline">
	<div class="nav-link active">
		{{ location_form.hidden_tag() }}
		{{ location_form.location(class_="btn btn-outline-primary btn-sm ml-2") }}
		{{ location_form.loc(class_="form-control form-control-sm") }}
	</div>
</form>
{%- endblock pagenavbar %}

{% block content %}
<p></p>
<div class="card">
	<div class="card-header">
		<h2>{{sample.short_dis}}</h2>
				<nav aria-label="breadcrumb">
			<ol class="breadcrumb">

				<li class="breadcrumb-item active" aria-current="page">{{sample.identifier}}</li>
			</ol>
		</nav>
	</div>
	<div class="card-body">
		<p class="card-text">
			by <em>{{ sample.creator }}</em> inserted <em>{{ sample.created.strftime('%Y-%m-%d') }}</em>
			coming from <em>{{ sample.origin }}</em> stored at <em>{{sample.sample_location.name}}.</em>
			Last update to entry <em> {{sample.updated.strftime('%Y-%m-%d') }}</em>.
		</p>

		{% if sample.is_shared %}
		<p class="card-text">
			Current shares: <br/>
			<ul>
			{% for shares in sample.sharedsamples %}
				<li class="align-middle">

				{% if g.user.id == sample.creator_id %}
					<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete share to {{shares.UserName}}" _="on click go to url {{ url_for('samples.removeshare', ids=[sample.id,shares.id]) }}">
						<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
					</button>
				{% endif %}
				{{ shares.UserName }}
				</li>
			{% endfor %}
			</ul>
		</p>
		{% endif %}
	</div>
</div>

<p>
	<div class="card">
		<div class="card-body">
			<div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
				<button class="btn btn-sm btn-outline-secondary my-2 my-md-0" type="button" data-toggle="collapse" data-target="#collapse_description" aria-expanded="false" aria-controls="collapse_description">
				Hide/Show
				</button>
				<h2 class="card-title col-8">Long Description</h2>
			</div>
			<div class="collapse show" id="collapse_description">
				<p class="card-text">
					{{sample.long_dis|markdown|safe}}
				</p>
			</div>
		</div>
	</div>
</p>
<p>
	{% for measurement in sample.measurements %}
	{% if loop.index == 1 %}
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Associated Procedures/Proceeding's/Measurements</h2>
			<p class="card-text">
				<table class="table table-hover">
					<thead>
						<tr>
							<th> Title </th>
							<th> Type </th>
							<th> Carried out by</th>
							<th> Updated</th>
							<th> Action </th>
						</tr>
					</thead>
					<tbody>
						{% endif %}
						<tr>
							<td>
								<a class="action" href="{{ url_for('measurements.measurement_view', mid=measurement.id) }}">{{ measurement.short_dis }}</A>
							</td>
							<td>{{ measurement.measurement_type.name }}</td>
							<td>{{ measurement.creator }}</td>
							<td>{{ measurement.updated.strftime('%Y-%m-%d') }}</td>
							<td>
								<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{measurement.short_dis}}" _="on click go to url {{ url_for('measurements.update', mid=measurement.id) }}">
									<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
								</button>
								<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{measurement.short_dis}}" _="on click js return confirm('Are you sure to delete {{measurement.short_dis}}?') end
                                                                                           if it is true
                                                                                            go to url {{ measurement.id | safe_url_for('measurements.delete', config['SEC_SESSION_KEY'] ,g.salt)}}">
									<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
								</button>
							</td>
						</tr>
						{% if loop.last %}
					</tbody>
				</table>
				<br>
				<a class="action btn btn-outline-primary" role="button" href="{{ url_for('measurements.create', ids=[sample.id,0]) }}">	<img src="{{url_for('static', filename='img/file-earmark-plus.svg')}}" /> New P/P/M</a>
			</p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</p>

<p>
					{% import 'macros/dropezone.html' as dropezone %}
					{{ dropezone.file_list(files, ["s",sample.id,sample.identifier]) }}
</p>
{% endblock %}

{% block scripts %}
{{super()}}
{% include 'macros/dropezone_script.html' %}
{%- endblock scripts %}
