{% extends 'base.html' %}

{% block title %}Report for {{ measurement.short_dis }} {% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}">
{%- endblock styles %}

{% block content %}
	<p>
	{% if report %} <h2>Edit {{report.title}}</h2>
	{% else %}
	<h2> New report</h2>
	{% endif %}

	<form method=post>
	{{ form.hidden_tag() }}

	<div class="form-group">
		{{ form.title.label }} <br> {{ form.title(class_="form-control") }}
		{% for error in form.title.errors %}
		<span style="color: red;">[{{ error }}]</span>
        {% endfor %}
	</div>
	<div class="form-group">
		{{ form.long_dis.label }} <br>

		<button type="button" class="btn btn-outline-info"
		hx-get="{{ url_for('htmx.htmx_markdown_help')}}"
		hx-target="#modals-here"
		hx-trigger="click"
		_="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Markdown Help</button>
		{% if report %}
		<button type="button" class="btn btn-outline-info"
		hx-get="{{ url_for('htmx.htmx_image_files', info=['r',report.id,report.sample_id,report.reports_sample.identifier ]) }}"
		hx-target="#modals-here"
		hx-trigger="click"
		_="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Associated Images</button>
		{% endif %}

		<div id="modals-here"></div>
		<br/>
		We accept Markdown formatting here.<br/>
		{{ form.long_dis(rows='10', class_="form-control") }}
		{% for error in form.long_dis.errors %}
		<span style="color: red;">[{{ error }}]</span>
        {% endfor %}
	</div>
	<div class="form-group">
		{{ form.submit(class_="btn btn-primary") }}

	</div>
</form>
</p>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>

    <script>
        var simplemde = new SimpleMDE({ element: $("#long_dis")[0],
        spellChecker: false,
        blockStyles: {
    		code: "~~~~"
    	},
        toolbar: ["bold", "italic", "heading-2","heading-3", "|","horizontal-rule", "code", "unordered-list", "ordered-list", "|", "table", "link", "|", "preview" ],
        parsingConfig: {
		 strikethrough: false,
    	},
    	renderingConfig: {
    		singleLineBreaks: false,
        },
        forceSync: true });
    </script>


{%- endblock scripts %}