{% extends 'base.html' %}

{% block title %} {{report.title}} {% endblock %}

{%- block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown_table.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('report.update', rid=report.id) }}"> <img src="{{url_for('static', filename='img/pencil.svg')}}" height=24/> Edit</a>
{% endblock pagenavbar%}

{% block content %}
<p>

</p>
<div class="card">
	<div class="card-header">
		<h2> {{report.title}}</h2>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ url_for('samples.sample_view', sid=report.sample_id) }}">{{report.reports_sample.identifier}}</a></li>
				<li class="breadcrumb-item"><a href="{{ url_for('measurements.measurement_view', mid=report.measurement_id) }}">{{report.report_measurement.short_dis}}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{report.title}} </li>
			</ol>
		</nav>
	</div>
	<div class="card-body">
		<p class="card-title">
			by <em>{{ report.creator }}</em> created/updated <em>{{ report.updated.strftime('%Y-%m-%d') }}</em>
		</p>
	</div>
</div>

<p>
	<div class="card">
		<div class="card-body">
			<div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
				<button class="btn btn-sm btn-outline-secondary my-2 my-md-0" type="button" data-toggle="collapse" data-target="#collapse_description" aria-expanded="false" aria-controls="collapse_description">
				Hide/Show
				</button>
				<h2 class="card-title col-8">Report</h2>
			</div>
			<div class="collapse show" id="collapse_description">
				<p class="card-text">
					{{report.long_dis|markdown|safe}}
				</p>
			</div>
		</div>
	</div>
</p>

<p>
	{% import 'macros/dropezone.html' as dropezone %}
	{{ dropezone.file_list(files, ['r',report.id,report.sample_id,report.reports_sample.identifier]) }}
</p>
{% endblock %}

{% block scripts %}
	{{super()}}
{% include 'macros/dropezone_script.html' %}
{%- endblock scripts %}