<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<script>Dropzone.options.myDropzone = {
  init: function() {
  		this.on("queuecomplete", file =>{
			var event = new CustomEvent("queuecomplete", { "detail": "Example of an event" });
			document.dispatchEvent(event);
  		});
  	}
  };
</script>