{% macro file_list(files,info) -%}

		<div class="card">
			<div class="card-body">
				<div id="file-list" hx-get="{{ url_for('htmx.htmx_redo_files',info=info)}}" hx-trigger="queuecomplete from:document delay:1s">
					{% import 'macros/file_list.html' as file_list %}
					{{ file_list.file_list(files, info) }}
				</div>

			<p class="card-text">

				<form action="{{ url_for('files.upload_files', info=info) }}" class="dropzone" id="myDropzone">
					<div class="fallback">
						<input name="file" type="file" multiple/>
						<input type="submit" value="Submit">
					</div>
				</form>
			</p>
		</div>
	</div>

{%- endmacro %}