{% macro file_list(files,info) -%}


{% for file in files %}

  {% if loop.index == 1 %}
    <h2 class="card-title">Associated Files </h2>
    <p class="card-text">
        <form method="POST" action="{{ url_for('files.download', info=info) }}">
            <input type="submit" class="btn btn-secondary mx-sm-3" value="Download All">
        </form>
        <br>

    {%endif %}
        <button class="btn btn-outline-secondary btn-sm mt-1" title="Download {{file}}" _="on click go to url {{ url_for('files.send_upload', info= info ,file=file) }}"><img src="{{url_for('static', filename='img/download.svg')}}" role="img" alt="Download"  aria-label="Download"/></button>
        <button class="btn btn-outline-secondary btn-sm mt-1" title="Preview {{file}}" _="on click go to url {{file | preview(info)}}"><img src="{{url_for('static', filename='img/person-video.svg')}}" role="img" alt="Preview"  aria-label="Preview"/></button>
        <button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{file}}" hx-delete="{{ url_for('htmx.htmx_delete_file', info=info,file=file) }}" hx-target="#file-list" hx-confirm="Are you sure you wish to delete the file: '{{file}}'?">
            <img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
        </button>
      {{file}}<br>
    {% endfor %}
    </p>

{%- endmacro %}