{% macro menu(active) -%}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('pages.fpages', path='about') }}">
        <img src="{{url_for('static', filename='img/icon.png')}}" width="35" height="35"
             class="d-inline-block align-top" alt="" loading="lazy">
        Open ResearchNotes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
    </button>

    <div class="collapse navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pages.fpages', path='help') }}">Help <span
                        class="sr-only">(current)</span>
                </a>
            </li>
            {% if g.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.index') }}">Home <span
                        class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('samples.index') }}">E/S/S</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('documents.show', label='index') }}">Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('instruments.index') }}">Instruments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('template.index') }}">Templates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('conf.index') }}">Settings</a>
            </li>
            {% endif %}
        </ul>
        {% if g.user %}
        {% if g.search_form %}
        <form class="form-inline mx-1" method="get" action="{{ url_for('main.search') }}">
            <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img
                                src="{{url_for('static', filename='img/search.svg')}}" width="12" height="12"
                                role="img" class="d-inline-block align-top" alt="" loading="lazy"></span>
                </div>
                {{ g.search_form.q(class_='form-control col-md-auto', placeholder=g.search_form.q.label.text) }}
            </div>
        </form>
        {% endif %}
        <a class="nav-link btn-sm btn-primary mx-1" role="button" title="Leave program (sign out)" href="{{ url_for('auth.logout') }}">Sign out</a>
        <a class="nav-link btn-sm btn-info  mx-1" role="button" title="User information" href="{{ url_for('conf.user_info') }}">
            <img src="{{url_for('static', filename='img/person-circle.svg')}}" width="24" height="24" role="img" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <span class="navbar-text mx-1"> {{g.user.UserName }}</span>
        {% else %} <a class="nav-link btn btn-primary btn-sm mx-1" role="button" href="{{ url_for('auth.login') }}">Please sign in</a>
        {% endif %}
    </div>
</nav>

{%- endmacro %}