{% macro preview_header(title,breadcrumb_list,subtitle) -%}

	<h2 id="title_field">{{title}}</h2>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			{%for link, label in breadcrumb_list %}
				<li class="breadcrumb-item" aria-current="page"><a href="{{ link }}"> {{label}} </a></li>
			{% endfor %}
				<li class="breadcrumb-item active" aria-current="page">Preview</li>
			</ol>
		</nav>

{%- endmacro %}