{% block doc -%}
<!DOCTYPE html>

<html{% block html_attribs %}{% endblock html_attribs %}>

{%- block html %}
  <head>
  
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %} - Labspace</title>

    {%- block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- endblock metas %}

    
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='starter-template.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='sticky-footer.css')}}" rel="stylesheet">
    {%- block styles %}
    {%- endblock styles %}
    
    {%- endblock head %}
  </head>
  
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    
    {% block navbar %}
    {%- endblock navbar %}
    
<div class="nav-scroller bg-white shadow-sm">
<nav class="nav nav-underline">    
    {% block pagenavbar %}
    {%- endblock pagenavbar %}
</nav>
</div>
    
 <main class="container">      
    {% block pre_content -%}
    {%- endblock pre_content %}
</main>    
    
 <main role="main" class="container"  class="flex-shrink-0">   
    {% block header -%}
    {%- endblock header %}
    
    {% block content -%}
    {%- endblock content %}
</main>

    {% block scripts %}
    <script src="{{url_for('static',filename='/js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='dashboard.js')}}"></script>
    {%- endblock scripts %}
    
    {%- endblock body %}
  </body>
  
{%- endblock html %}
</html>
{% endblock doc -%}