<div class="container'>
  <h1>
  <a class="action" href="{{ url_for('pages.fpages',path='hallo') }}"><img src="{{url_for('static', filename='/img/favicon-32x32.png')}}" /></a>
  <a href="{{ url_for('index') }}"><img src="{{url_for('static', filename='/img/home.png')}}" /></a> LabSpace </h1>
  Logged in as: {{ g.user.UserName }}  
  <ul>
  {% if g.user %}     
    
    
      <li><a href="{{ url_for('conf.index') }}"><img src="{{url_for('static', filename='/img/configuration.png')}}" /> Config</a>
      <li><a href="{{ url_for('auth.logout') }}"><img src="{{url_for('static', filename='/img/lock.png')}}" /> Log Out</a>
    
    {% endif %}
        <li><a href="{{ url_for('pages.fpages', path='about') }}"> About</a>
        <li><a href="{{ url_for('pages.fpages', path='help') }}"> Help </a>
    </ul>
    
</div>



<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('pages.fpages',path='hallo') }}">
        <img src="{{url_for('static', filename='/img/favicon-32x32.png')}}" />
      </a>
      <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('index') }}"> <img src="{{url_for('static', filename='/img/home.png')}}" /> Home </a></button>
      <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('pages.fpages', path='about') }}"> About </a> </button>
      <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('pages.fpages', path='help') }}">  Help </a> </button>
      {% if g.user %}     
      <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('conf.index') }}"><img src="{{url_for('static', filename='/img/configuration.png')}}" /> Config</a></button>
      <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('auth.logout') }}"><img src="{{url_for('static', filename='/img/lock.png')}}" /> Log Out</a></button>
      {% endif %}
     </div>
     
 <p class="navbar-text">Signed in as {{ g.user.UserName }}</p>
 </div>
 </nav>