# -*- coding: utf-8 -*-
"""
Created on Thu Aug  6 14:33:52 2020

@author: Christoph
"""
    {% block scripts %}
    <script src="{{url_for('static',filename='/js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='dashboard.js')}}"></script>
    {%- endblock scripts %}
    
        <link href="{{ url_for('static', filename='starter-template.css')}}" rel="stylesheet">
        
<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>

<p>
<form method=post class="form-inline">
<div class="form-group row">
  {{ form.hidden_tag() }}
  {{ form.field.label }} {{ form.field(class_="form-control mx-sm-3")}} 
   
  {{ form.order.label }} {{ form.order(class_="form-control mx-sm-3") }}  
  {{ form.submit(class_="btn btn-primary  mx-sm-3") }} 
</div>
</form>  
</p>