{% extends 'base.html' %}

{% block title %} Search results {% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
	<a class="nav-link active" href="{{ url_for('samples.allsamples') }}"><img src="{{url_for('static', filename='img/file-spreadsheet.svg')}}" height=24 /> All E/S/S</a>
	<a class="nav-link active" href="{{ url_for('samples.allsharedsamples') }}"><img src="{{url_for('static', filename='img/share.svg')}}" height=24 /> Shared E/S/S </a>
	{% if g.user.role_member.name=='Supervisor' %}
	<a class="nav-link active" href="{{ url_for('samples.groupsamples') }}"><img src="{{url_for('static', filename='img/files.svg')}}" height=24 /> Group E/S/S </a>
	{% endif %}
	<a class="nav-link active" href="{{ url_for('measurements.allmeasurements') }}"> <img src="{{url_for('static', filename='img/file-earmark-spreadsheet.svg')}}" height=24 /> All P/P/M</a>
{% endblock pagenavbar %}

{% block content %}
	<p></p>
	{% for sample in samples %}
	{% if loop.index == 1 %}
	<div class="card">
		<div class="card-header">
			Found {{samples|length}} Experiments/Samples/Simulations
		</div>
		<div class="card-body">
			<p class="card-text">
				<table id="ESS-table" class="table table-hover s_sample" style="width:100% !important; table-layout: fixed;">
					<thead>
						<tr>
							<th scope="col"> Identifier </th>
							<th scope="col"> Short Description </th>
							<th scope="col"> Origin </th>
							<th scope="col"> Created </th>
							<th scope="col"> Updated </th>
							<th scope="col"> Action </th>
						</tr>
					</thead>
					<tbody>
						{%endif %}
						<tr>
							<td>
								<a class="action" href="{{ url_for('samples.sample_view', sid=sample.id) }}">
									{{sample.identifier }}</a>
							</td>
							<td>{{ sample.short_dis }}</td>
							<td>{{ sample.origin}}</td>
							<td>{{ sample.created.strftime('%Y-%m-%d') }}</td>
							<td>{{ sample.updated.strftime('%Y-%m-%d') }}</td>
							<td>
								<a class="action" href="{{ url_for('samples.update', sid=sample.id) }}">
									<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
								</a>
							</td>
						</tr>
						{% if loop.last %}
					</tbody>
				</table>
			</p>
		</div>
	</div>
	{% endif %}

	{% else %}
	<div class="card">
		<div class="card-header">
			No Experiments/Samples/Simulations found.
		</div>
		<div class="card-body">
			Nothing found for the search term.
		</div>
	</div>
	{% endfor %}

	<p>
		{% for measurement in measurements %}
		{% if loop.index == 1 %}
		<div class="card">
			<div class="card-header">
				Found {{measurements|length}} Procedures/Processes/Measurements
			</div>
			<div class="card-body">
				<p class="card-text">

				<table id="PPM-table" class="table table-hover s_sample" style="width:100% !important; table-layout: fixed;">
					<thead>
						<tr>
							<th scope="col"> Title </th>
							<th scope="col"> Sample</th>
							<th scope="col"> Creator </th>
							<th scope="col"> Created </th>
							<th scope="col"> Updated </th>
							<th scope="col"> Action </th>
						</tr>
					</thead>
					<tbody>
						{%endif %}
						<tr>
							<td>
								<a class="action" href="{{ url_for('measurements.measurement_view', mid=measurement.id) }}">
									{{measurement.short_dis }}</a>
							</td>
							<td><a class="action" href="{{ url_for('samples.sample_view', sid=measurement.measurement_sample.id) }}">
								{{ measurement.measurement_sample.identifier }}</a></td>
							<td>{{ measurement.creator}}</td>
							<td>{{ measurement.created.strftime('%Y-%m-%d') }}</td>
							<td>{{ measurement.updated.strftime('%Y-%m-%d') }}</td>
							<td>
								<a class="action" href="{{ url_for('measurements.update', mid=measurement.id) }}">
									<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
								</a>
							</td>
						</tr>
						{% if loop.last %}
					</tbody>
				</table>
				</p>
			</div>
		</div>
		{% endif %}

		{% else %}
		<div class="card">
			<div class="card-header">
				 No Procedures/Processes/Measurements found.
			</div>
			<div class="card-body">
				Nothing found for the search term.
			</div>
		</div>
		{% endfor %}
	</p>

	<p>
		{% for report in reports %}
		{% if loop.index == 1 %}
		<div class="card">
			<div class="card-header">
				Found {{reports|length}} Reports
			</div>
			<div class="card-body">
				<p class="card-text">
					<table id="Report-table" class="table table-hover s_sample" style="width:100% !important; table-layout: fixed;">
						<thead>
							<tr>
								<th scope="col"> Title </th>
								<th scope="col"> P/P/M </th>
								<th scope="col"> Sample</th>
								<th scope="col"> Created </th>
								<th scope="col"> Updated </th>
								<th scope="col"> Action </th>
							</tr>
						</thead>
						<tbody>
							{%endif %}
							<tr>
								<td>
									<a class="action" href="{{ url_for('report.report_view', rid=report.id) }}">{{ report.title
										}}</a>
								</td>
								<td><a class="action" href="{{ url_for('measurements.measurement_view', mid=report.report_measurement.id) }}">
									{{ report.report_measurement.short_dis }}</a></td>
								<td><a class="action" href="{{ url_for('samples.sample_view', sid=report.reports_sample.id) }}">
									{{ report.reports_sample.identifier}}</a></td>
								<td>{{ report.created.strftime('%Y-%m-%d') }}</td>
								<td>{{ report.updated.strftime('%Y-%m-%d') }}</td>
								<td>
									<a class="action" href="{{ url_for('report.update', rid=report.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
									</a>
								</td>
							</tr>
							{% if loop.last %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
		{% endif %}
		{% else %}
		<div class="card">
			<div class="card-header">
				No Reports found.
			</div>
			<div class="card-body">
				Nothing found for the search term.
			</div>
		</div>
		{% endfor %}
	</p>

	<p>
		{% for doc in docs %}
		{% if loop.index == 1 %}
		<div class="card">
			<div class="card-header">
				Found {{docs|length}} Documents
			</div>
			<div class="card-body">
				<p class="card-text">
					<table id="Doc-table" class="table table-hover s_sample" style="width:100% !important; table-layout: fixed;">
						<thead>
							<tr>
								<th scope="col"> Label </th>
								<th scope="col"> Title</th>
								<th scope="col"> Body</th>
								<th scope="col"> Created </th>
								<th scope="col"> Last update </th>
								<th scope="col"> Action </th>
							</tr>
						</thead>
						<tbody>
							{%endif %}
							<tr>
								<td>
									<a class="action" href="{{ url_for('documents.show', label=doc.label) }}">{{ doc.label }}</a>
								</td>
								<td>{{ doc.title}}</td>
								<td>{{ doc.body | string | truncate(50)}}</td>
								<td>{{ doc.created.strftime('%Y-%m-%d') }}</td>
								<td>{{ doc.updated.strftime('%Y-%m-%d') }}</td>
								<td>
									-
								</td>
							</tr>
							{% if loop.last %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
		{% endif %}

		{% else %}
		<div class="card">
			<div class="card-header">
				No Documents found
			</div>
			<div class="card-body">
				Nothing found for the search term.
			</div>
		</div>
		{% endfor %}
	</p>

{% endblock %}

{% block scripts %}
	{{super()}}
	<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

	<script>
		$(document).ready(function () {
			$('table.s_sample').DataTable({
				"pageLength": 5,
				"order": [],
				"columnDefs": [{ "orderable": false, "targets": 5 }]
			});
		});
	</script>
{%- endblock scripts %}
