{% extends 'base.html' %}

{% block title %}User information{% endblock %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('conf.changepasswd') }}"><img
        src="{{url_for('static', filename='/img/lock.svg')}}" height=24 /> Change Password</a>
{% endblock pagenavbar %}

{% block content %}

<p>
<div class="card">
    <div class="card-header">
        <h2 class="card-title"> App Information</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Open ResearchNote Version:</th>
                    <td> {{config['VERSION_STRING']}}</td>
                </tr>
                <tr>
                    <th scope="row">Python version:</th>
                    <td> {{pyversion}}</td>
                </tr>
                <tr>
                    <th scope="row">Host system name:</th>
                    <td>{{system}}</td>
                </tr>
                <tr>
                    <th scope="row">User agent:</th>
                    <td>{{request.headers.get('User-Agent')|string}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</p>

<p>
<div class="card">
    <div class="card-header">
        <h2 class="card-title"> App Configuration</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in config.items() %}
                <tr>
                    <th scope="row"> {{key }} </th>
                    <td> {{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</p>

{% endblock %}