{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{%- block styles %}
	<link href="{{ url_for('static', filename='css/signin.css')}}" rel="stylesheet">
{%- endblock styles %}

{% block bodyoptions%}onload="brython()"{% endblock bodyoptions%}

{% block content %}
	<h2> Change password </h2>
	Set you new password below. A good password is mainly long - 15 characters or more - and can be a combination of words
	for easier remembering.<br>
	If no one is looking at your screen, you can use as password: <strong>{{ s_passwd }}</strong>
	<p>
	<div class="container">
		<div class="row">
			<div class="col-0">
				<form method=post class="form-signin">
					{{ form.hidden_tag() }}
					{{ form.old.label }}
					<div class="input-group mb-3">
						{{ form.old(class_="form-control", autocomplete="current-password", aria_label="current-password", aria_describedby="basic-addon1") }}
						{% for error in form.old.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
					{{ form.password.label }} <br>
					<div class="input-group mb-3">
						{{ form.password(class_="form-control", autocomplete="new-password", aria_label="password", aria_describedby="basic-addon1") }}
						{% for error in form.password.errors %}
						<br>
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
					<div class="custom-control custom-switch">
			  			<input type="checkbox" class="custom-control-input" id="show_eye" _="on change if my.checked is true
			  																					set #password.type to 'text'
			  																					set #old.type to 'text'
			  																					put 'Hide password' into #here
																							else
																								set #password.type to 'password'
																								set #old.type to 'password'
																								put 'Show password' into #here ">
			  			<label class="custom-control-label" for="show_eye" id="here">Show password</label>
					</div>
					<br>
					<div class="form-group">
						{{ form.submit(class_="btn btn-primary") }}
					</div>
				</form>
			</div>
		</div>
	</div>
	</p>
{% endblock %}

