{% extends 'base.html' %}

{% block title %} All E/S/S{% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}

{% if g.user.role_member.name == 'admin' %}
<a class="nav-link active" href="{{ url_for('conf.app_info') }}"> <img src="{{url_for('static', filename='img/info-circle.svg')}}" height=24 /> App info</a>
<a class="nav-link active" href="{{ url_for('conf.user_mangement') }}"> <img src="{{url_for('static', filename='img/person.svg')}}" height=24 /> Users</a>
<a class="nav-link active" href="{{ url_for('conf.register_group') }}"> <img src="{{url_for('static', filename='img/person-plus.svg')}}" height=24 /> New Group</a>
{% endif %}
<a class="nav-link active" href="{{ url_for('conf.changepasswd') }}"><img src="{{url_for('static', filename='img/lock.svg')}}" height=24 /> Change Password</a>
{% endblock pagenavbar %}

{% block content %}
    <p></p>
	{% for group in groups %}
		{% if loop.index == 1 %}
		<div class="card">
			<div class="card-header">
				<h2 class="card-title"> Groups </h2>
			</div>
			<div class="card-body">
				<p class="card-text">
					<table id="data" class="table table-hover" style="width:100% !important;">
						<thead>
							<tr>
								<th> Name </th>
								<th> Action </th>
							</tr>
						</thead>
						<tbody>
		{%endif %}
							<tr>
								<td>{{ group.name }}</td>
								<td>
									{% if group.name != 'None' %}
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{group.name}}" _="on click go to url {{ url_for('conf.update_group', gid=group.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Deactivate {{group.name}}" _="on click js return confirm('Are you sure to deactivate {{group.name}}?') end
												   if it is true
													go to url {{ group.id | safe_url_for('conf.delete_group', config['SEC_SESSION_KEY'], g.salt) }}">
										<img src="{{url_for('static', filename='img/trash.svg')}}" tag="Delete" role="img" alt="Delete"  aria-label="Delete"/>
									</button>
									{% endif %}
								</td>
							</tr>
		{% if loop.last %}
						</tbody>
					</table>
				</p>
				<a class="action" href="{{ url_for('conf.register_group') }}"> 	<img src="{{url_for('static', filename='img/plus-circle.svg')}}" /> New Group</a>
			</div>
		</div>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

	<script>
		$(document).ready(function () {
		$('#data').DataTable({"pageLength": 10,
		"columnDefs": [{ "orderable": false, "targets": 1 }]
		});
		});
	</script>

{%- endblock scripts %}
