{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
{% if g.user.role_member.name == 'admin' %}
<a class="nav-link active" href="{{ url_for('conf.app_info') }}"> <img src="{{url_for('static', filename='img/info-circle.svg')}}" height=24 /> App info</a>
<a class="nav-link active" href="{{ url_for('conf.user_mangement') }}"> <img src="{{url_for('static', filename='img/person.svg')}}" height=24 /> Users</a>
<a class="nav-link active" href="{{ url_for('conf.group_mangement') }}"><img src="{{url_for('static', filename='img/people.svg')}}" height=24 /> Groups</a>
{% endif %}
{% if g.user.role_member.name == 'Supervisor' %}
<a class="nav-link active" href="{{ url_for('conf.user_mangement') }}"> <img src="{{url_for('static', filename='img/person.svg')}}" height=24 /> Users</a>
{% endif %}
{% if (g.user.role_member.name == 'Supervisor' or g.user.role_member.name == 'StudentAdmin') %}
<a class="nav-link active" href="{{ url_for('conf.register_type') }}"><img src="{{url_for('static', filename='img/file-earmark-slides.svg')}}" height=24 /> New P/P/M Type</a>
<a class="nav-link active" href="{{ url_for('conf.register_location') }}"><img src="{{url_for('static', filename='img/geo-alt.svg')}}" height=24 /> New Location</a>
{% endif%}
<a class="nav-link active" href="{{ url_for('conf.changepasswd') }}"><img src="{{url_for('static', filename='img/lock.svg')}}" height=24 /> Change Password</a>
{% endblock pagenavbar %}

{% block content %}

{% if (g.user.role_member.name == 'Supervisor' or g.user.role_member.name == 'StudentAdmin') %}
<p>
<div class="card">
	<div class="card-header">
		<h2 class="card-title"> Group Measurement Types and Locations</h2>
	</div>
	<div class="card-body">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h3>P/P/M types</h3>
					<p>
					<table class="table table-borderless table-hover">
						<thead>
							<tr>
								<th> Name </th>
								<th> Action </th>
							</tr>
							<tr>
								<td> Other </td>
								<td> </td>
							</tr>
						</thead>
						<tbody>
							{% for mtype in mtyps %}
							<tr>
								<td>{{ mtype.name }}</td>
								<td>
									{% if mtype.name != 'Other' %}
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{mtype.nam}}" _="on click go to url {{ url_for('conf.update_type', mtype_id=mtype.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{mtype.name}}" _="on click js return confirm('Are you sure to delete {{mtype.name}}?') end
												   if it is true
													go to url {{ mtype.id | safe_url_for('conf.delete_type', config['SEC_SESSION_KEY'], g.salt) }}">
										<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"  />
									</button>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<br>
					<a class="action btn btn-outline-primary" role="button"  href="{{ url_for('conf.register_type') }}"><img src="{{url_for('static', filename='img/file-earmark-slides.svg')}}" /> New P/P/M Type	</a>
					</p>
				</div>
				<div class="col-sm-6 ">
					<h3>Locations</h3>
					<p>
					<table class="table table-borderless table-hover">
						<thead>
							<tr>
								<th scope="col"> Name </th>
								<th scope="col"> Action </th>
							</tr>
							<tr>
								<td> Not defined </td>
								<td> </td>
							</tr>
						</thead>
						<tbody>
							{% for location in locations %}
							<tr>
								<td>{{ location.name }}</td>
								<td>
									{% if location.name != 'Not defined' %}
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{location.name}}" _="on click go to url {{ url_for('conf.update_location', lid=location.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{location.name}}" _="on click js return confirm('Are you sure to delete {{location.name}}?') end
												   if it is true
													go to url {{ location.id | safe_url_for('conf.delete_location', config['SEC_SESSION_KEY'] ,g.salt) }}">
										<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete" />
									</button>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<br>
					<a  class="action btn btn-outline-primary" role="button"  href="{{ url_for('conf.register_location') }}">
						<img src="{{url_for('static', filename='img/geo-alt.svg')}}" /> New Location
					</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</p>
{% endif %}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

<script>
	$(document).ready(function () {
		$("").DataTable();
	});
</script>

{%- endblock scripts %}
