{% extends 'base.html' %}

{% block title %}Register {{ what }}{% endblock %}

{% block content %}

	<h2> Existing {{ what }}</h2>

	<ol>
		{% if what == "Measurement Types" %}
			<li>None</li>
		{% endif %}

		{% if what == "Locations" %}
			<li>Not defined</li>
		{% endif %}

		{% if what == "Entry types" %}
			<li>None</li>
		{% endif %}

		{% for mtyp in existing %}
			<li>{{ mtyp.name }}</li>
		{% endfor %}
	</ol>

	<form method=post>
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.mtype.label }} {{ form.mtype(class_="form-control") }}
			{% for error in form.mtype.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.submit(class_="btn btn-primary") }}
		</div>
	</form>
{% endblock %}