{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{%- block styles %}
	<link href="{{ url_for('static', filename='css/signin.css')}}" rel="stylesheet">
{%- endblock styles %}

{% block content %}
	<h1> Reset password for: {{ user.UserName }} </h1>
	<p>
	A good password is mainly long. A good idea is to combine three or four random words.<br>
	If no one is looking at your screen, you can use as password: <strong>{{ s_passwd }}</strong>
	</p>
	<div class="container">
		<div class="row">
			<div class="col-0">
				<form method=post class="form-signin">
					{{ form.hidden_tag() }}
					<div class="form-group">
						{{ form.password.label }} {{ form.password(class_="form-control") }}
						{% for error in form.password.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
					<div class="form-group">
						{{ form.confirm.label }} {{ form.confirm(class_="form-control") }}
						{% for error in form.confirm.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
					<div class="custom-control custom-switch">
			  			<input type="checkbox" class="custom-control-input" id="show_eye" _="on change if my.checked is true
			  																					set #password.type to 'text'
			  																					set #old.type to 'text'
			  																					put 'Hide password' into #here
																							else
																								set #password.type to 'password'
																								set #old.type to 'password'
																								put 'Show password' into #here ">
			  			<label class="custom-control-label" for="show_eye" id="here">Show password</label>
					</div>
					<br>
					<div class="form-group">
						{{ form.submit(class_="btn btn-primary") }}
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

