{% extends 'setup/user_form.html' %}

{% block title %}Register{% endblock %}

{%block content %}
	{{super()}}
{% endblock %}

{% block summary %} Register a user {% endblock %}

{% block password_field %}
	<div class="form-group">
		{{ form.password.label }} <br> {{ form.password(class_="form-control") }}
		{% for error in form.password.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</div>
	<div class="custom-control custom-switch">
		<input type="checkbox" class="custom-control-input" id="show_eye" onclick="password_show_hide();">
		<label class="custom-control-label" for="show_eye">Show/hide password</label>
		<br>
	</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static',filename='/js/password_visibility.js')}}"></script>
{%- endblock scripts %}
