{% extends 'base.html' %}

{% block title %}User information{% endblock %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('conf.changepasswd') }}"><img
        src="{{url_for('static', filename='/img/lock.svg')}}" height=24 /> Change Password</a>
{% endblock pagenavbar %}

{% block content %}

<p>
<div class="card">
    <div class="card-header">
        <h2 class="card-title"> User Information</h2>
    </div>
    <div class="card-body">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">User Name</th>
                    <td>{{ g.user.UserName }}</td>

                </tr>
                <tr>
                    <th scope="row">Login</th>
                    <td>{{ g.user.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Mail</th>
                    <td>{{ g.user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Role</th>
                    <td>{{ g.user.role_member.name }} </td>
                </tr>
                <tr>
                    <th scope="row">Group</th>
                    <td>{{ g.user.group_member.name }} (Group ID:{{g.user.group_id}})</td>
                </tr>
                <tr>
                    <th scope="row">Last seen</th>
                    <td>{{ g.user.last_login_at.strftime('%Y-%m-%d, %H:%M') }} (UTC)</td>
                </tr>
                <tr>
                    <th scope="row">Last IP</th>
                    <td>{{ g.user.last_login_ip }} </td>
                </tr>
                <tr>
                    <th scope="row">Current IP</th>
                    <td>{{ g.user.current_login_ip}} </td>
                </tr>
                <tr>
                    <th scope="row">Sign-in's</th>
                    <td>{{ g.user.login_count }} </td>
                </tr>
                <tr>
                    <th scope="row">Content info</th>
                    <td> </td>
                </tr>
                <tr>
                    <th scope="row">No. of user's samples</th>
                    <td>{{ g.user.samples | list | length }} </td>
                </tr>
                <tr>
                    <th scope="row">No. of user's measurements</th>
                    <td>{{ g.user.measurements | list | length }} </td>
                </tr>
                <tr>
                    <th scope="row">No. of user's reports</th>
                    <td>{{ g.user.reports | list | length }} </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
</p>
<p>
<div class="card">
    <div class="card-header">
        <h2 class="card-title"> App Information</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Open ResearchNotes Version:</th>
                    <td> {{config['VERSION_STRING']}}</td>
                </tr>
                <tr>
                    <th scope="row">Host system name:</th>
                    <td>{{system}}</td>
                </tr>
                <tr>
                    <th scope="row">User agent:</th>
                    <td>{{request.headers.get('User-Agent')|string}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</p>

{% endblock %}