{% extends 'base.html' %}

{% block title %} All E/S/S{% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
{% if g.user.role_member.name == 'admin' %}
<a class="nav-link active" href="{{ url_for('conf.app_info') }}"> <img src="{{url_for('static', filename='img/info-circle.svg')}}" height=24 /> App info</a>
{% endif %}
<a class="nav-link active" href="{{ url_for('conf.register') }}"> <img src="{{url_for('static', filename='img/person-plus.svg')}}" height=24 /> New User</a>
{% if g.user.role_member.name == 'admin' %}
<a class="nav-link active" href="{{ url_for('conf.group_mangement') }}"><img src="{{url_for('static', filename='img/people.svg')}}" height=24 /> Groups</a>
{% endif %}
{% if g.user.role_member.name == 'Supervisor' %}
<a class="nav-link active" href="{{ url_for('conf.register_type') }}"><img src="{{url_for('static', filename='img/file-earmark-slides.svg')}}" height=24 /> New P/P/M Type</a>
<a class="nav-link active" href="{{ url_for('conf.register_location') }}"><img src="{{url_for('static', filename='img/geo-alt.svg')}}" height=24 /> New Location</a>
{% endif%}
<a class="nav-link active" href="{{ url_for('conf.changepasswd') }}"><img src="{{url_for('static', filename='img/lock.svg')}}" height=24 /> Change Password</a>
{% endblock pagenavbar %}


{% block content %}
	{% for user in users %}
		{% if loop.index == 1 %}
	</p>
		<div class="card">
			<div class="card-header">
				<h2 class="card-title"> Users </h2>
			</div>
			<div class="card-body">
				<p class="card-text">
					<table id="data" class="table table-hover" style="width:100% !important;">
						<thead>
							<tr>
								<th scope="col"> User Name </th>
								<th scope="col"> Name </th>
								<th scope="col"> Mail </th>
								<th scope="col"> Role </th>
								<th scope="col"> Group </th>
								<th scope="col"> Last seen </th>
								<th scope="col"> IP </th>
								<th scope="col"> Sign-in's </th>
								<th scope="col"> Action </th>
							</tr>
						</thead>
						<tbody>
		{%endif %}
							<tr>
								<td>{{ user.UserName }}</td>
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.role_member.name }}</td>
								<td>{{ user.group_member.name }}</td>
								<td>{{ user.last_login_at.strftime('%Y-%m-%d') }}</td>
								<td>{{ user.last_login_ip }}</td>
								<td>{{ user.login_count }}</td>
								<td>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{user.UserName}}" _="on click go to url {{ url_for('conf.update', uid=user.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Reset password for {{user.UserName}}" _="on click go to url {{ user.id | safe_url_for('conf.resetpassword',config['SEC_SESSION_KEY'], 'reset_passwd' ) }}">
										<img src="{{url_for('static', filename='img/lock.svg')}}" role="img" alt="Reset password" aria-label="Reset password"/>
									</button>
									{% if user.active %}
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Deactivate {{user.UserName}}" _="on click js return confirm('Are you sure to deactivate {{user.UserName}}?') end
												   if it is true
													go to url {{ user.id | safe_url_for('conf.deactivate_user', config['SEC_SESSION_KEY'], g.salt) }}">
										<img src="{{url_for('static', filename='/img/person-x.svg')}}" role="img" alt="Deactivate user" aria-label="Deactivate user" />
									</button>
									{% else %}
									<button class="btn btn-outline-secondary btn-sm mt-1" title="User {{user.UserName}} is inactive" disabled>
										<img src="{{url_for('static', filename='img/person-x-fill.svg')}}" role="img" alt="Inactive User" aria-label="Inactivate user" />
									</button>

									{% endif %}
								</td>
							</tr>
		{% if loop.last %}
						</tbody>
					</table>
				</p>
				<a class="action btn btn-outline-primary" role="button" href="{{ url_for('conf.register') }}"><img src="{{url_for('static', filename='img/person-plus.svg')}}" alt="Add user"/> New User</a>
			</div>
		</div>
		{% endif %}
	{% endfor %}
	</p>
{% endblock %}


{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>


	<script>
		$(document).ready(function () {
		$('#data').DataTable({"pageLength": 25,
		"order": [[ 4, 'asc' ], [ 0, 'asc' ]],
		"columnDefs": [{ "orderable": false, "targets": 8 }]
		});
		});
	</script>

{%- endblock scripts %}
