{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<h2> {% block summary%}{% endblock %} </h2>

	<form method=post>
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.UserName.label }} <br> {{ form.UserName(class_="form-control") }}
			{% for error in form.UserName.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.email.label }} <br> {{ form.email(class_="form-control") }}
			{% for error in form.email.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.name.label }} <br> {{ form.name(class_="form-control") }}
			{% for error in form.name.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		{% block password_field %}{% endblock %}
		<div class="form-row">
			<div class="form-group col">
				{{ form.role_id.label }} {{ form.role_id(class_="form-control") }}
				{% for error in form.group_id.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="form-group col">
				{{ form.group_id.label }} {{ form.group_id(class_="form-control") }}
				{% for error in form.group_id.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
		</div>
		<div class="form-group">
		{{ form.submit(class_="btn btn-primary") }}
		</div>
	</form>
{% endblock %}
