{% extends 'base.html' %}

{% block title %} Test {% endblock %}

{% block bodyoptions%}onload="brython()"{% endblock bodyoptions%}

{% block brython %}
<div class="alert alert-primary" role="alert">
<span id="brython"></span>
</div>
{% endblock brython %}

{% block content %}
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/brython.js') }}"></script>
	<script src="{{ url_for('static', filename='js/brython_stdlib.js') }}"></script>

    <script type="text/python">
        from browser import document, timer
        from browser import ajax

        def read(req):
            document["brython"].text = req.json['key']

        def get_update():
            ajax.get("{{ url_for('notifications.test') }}", mode='json', oncomplete=read)

        get_update()
        timer.set_interval(get_update,10000)

    </script>


{%- endblock scripts %}