{% extends 'base.html' %}

{% block title %}Sign-in{% endblock %}

{%- block styles %}
	<link href="{{ url_for('static', filename='css/signin.css')}}" rel="stylesheet">
{%- endblock styles %}

{% block bodyoptions%} class="text-center"{% endblock bodyoptions%}

{% block content %}
	<img class="mb-4" src="{{ url_for('static', filename='img/logo.svg')}}" alt="" width=400" >
	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	<form method=post class="form-signin">
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.username.label }} <br>
			{{ form.username(class_="form-control") }}
			{% for error in form.username.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ form.password.label }} <br>
			<div class="input-group mb-3">
			{{ form.password(class_="form-control", autocomplete="current-password", aria_label="password", aria_describedby="basic-addon1") }}
			{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			</div>
			<div class="custom-control custom-switch">
			  <input type="checkbox" class="custom-control-input" id="show_eye" _="on change if my.checked is true
			  																					set #password.type to 'text'
			  																					put 'Hide password' into #here
																							else
																								set #password.type to 'password'
																								put 'Show password' into #here ">
			  <label class="custom-control-label" for="show_eye" id="here">Show password</label>
			</div>
		</div>
		<div class="form-group">
			{{ form.remember }} {{ form.remember.label }}
		</div>
		<div class="form-group">
			{{ form.submit(class_="btn btn-primary") }}
		</div>
	</form>
	<p class="mt-5 mb-3 text-muted">&copy; 2020,2021,2022, 2023 by the Open ResearchNotes developers<br>
	Version: {{config.VERSION_STRING}}</p>
{% endblock %}


