{% extends 'base.html' %}

{% block title %}Instruments{% endblock %}

{% block pagenavbar %}
	<a class="nav-link active" href="{{ url_for('instruments.create', tid=0) }}"> <img src="{{url_for('static', filename='img/rocket-takeoff.svg')}}" height=24/> New instrument</a>
	<a class="nav-link active" href="{{ url_for('entry.show_all_entire') }}"> <img src="{{url_for('static', filename='img/journals.svg')}}" height=24/> All Entries</a>
{% endblock pagenavbar %}

{% block content %}
	 <!-- group instruments table -->
	<p>
	{% for instrument in group_instruments %}
		{% if loop.index == 1 %}
		<div class="card">
			<div class="card-header">
				<h2 class="card-title"> All Instruments owned by your group </h2>
			</div>
			<div class="card-body">
				<p class="card-text">
					<table id="data" class="table table-hover" style="width:100% !important; table-layout: fixed;">
						<thead>
							<tr>
								<th scope="col"> Identifier </th>
								<th scope="col"> Location </th>
								<th scope="col"> Last update </th>
								<th scope="col" style="text-align:center;"> Action </th>
							</tr>
						</thead>
						<tbody>
		{% endif %}
							<tr>
								<td>
									<a class="action" href="{{ url_for('instruments.log_view', iid=instrument.id) }}">
										{{ instrument.identifier }}
									</a>
								</td>
								<td>{{ instrument.instrument_location.name}}</td>
								<td>{{ instrument.updated.strftime('%Y-%m-%d') }}</td>
								<td style="text-align:center;">
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Info {{instrument.identifier}}" _="on click go to url {{url_for('instruments.instrument_view', iid=instrument.id) }}">
										<img src="{{url_for('static', filename='img/info-circle.svg')}}"/>
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{instrument.identifier}}" _="on click go to url {{url_for('instruments.update', iid=instrument.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
									</button>
									{% if (g.user.role_member.name == 'Supervisor') or (g.user.role_member.name == 'StudentAdmin') %}
										<button class="btn btn-outline-secondary btn-sm mt-1" title="Deactivate {{instrument.identifier}}" _="on click js return confirm('Are you sure to deactivate {{instrument.identifier}}?') end
                                                                                           if it is true
                                                                                            go to url {{ url_for('instruments.deactivate', iid=instrument.id) }}">
											<img src="{{url_for('static', filename='img/power.svg')}}" role="img" alt="Deactivate" aria-label="Deactivate" />
										</button>
									{% endif %}
								</td>
							</tr>
		{% if loop.last %}
						</tbody>
					</table>
				</p>
				<a class="action btn btn-outline-primary" role="button" href="{{ url_for('instruments.create', tid=0)}}">	<img src="{{url_for('static', filename='img/rocket-takeoff.svg')}}" /> New Instrument</a>
			</div>
		</div>
		{% endif %}
	{% endfor %}
	</p>

	 <!-- shared instruments table -->
	<p>
	{% for instrument in shared_instruments %}
		{% if loop.index == 1 %}
		<div class="card">
			<div class="card-header">
				<h2 class="card-title"> All Instruments shared with you </h2>
			</div>
			<div class="card-body">
				<p class="card-text">
					<table id="data1" class="table table-hover" style="width:100% !important; table-layout: fixed;">
						<thead>
							<tr>
								<th scope="col"> Identifier </th>
								<th scope="col"> Location </th>
								<th scope="col"> Last update </th>
								<th scope="col" style="text-align:center;"> Action </th>
							</tr>
						</thead>
						<tbody>
		{% endif %}
							<tr>
								<td>
									<a class="action" href="{{ url_for('instruments.log_view', iid=instrument.id) }}">
										{{ instrument.identifier }}
									</a>
								</td>
								<td>{{ instrument.instrument_location.name}}</td>
								<td>{{ instrument.updated.strftime('%Y-%m-%d') }}</td>
								<td style="text-align:center;">
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Info {{instrument.identifier}}" _="on click go to url {{url_for('instruments.instrument_view', iid=instrument.id) }}">
										<img src="{{url_for('static', filename='img/info-circle.svg')}}"/>
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{instrument.identifier}}" _="on click go to url {{url_for('instruments.update', iid=instrument.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
									</button>
								</td>
							</tr>
		{% if loop.last %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
		{% endif %}
	{% endfor %}
	</p>

	 <!-- deactivated instruments table -->
	{% if g.user.role_member.name == 'Supervisor' %}
	<p>
	{% for instrument in deactivated_instruments %}
		{% if loop.index == 1 %}
		<div class="card">
			<div class="card-header">
				<h2 class="card-title"> All Instruments deactivated of your group </h2>
			</div>
			<div class="card-body">
				<p class="card-text">
					<table id="data2" class="table table-hover" style="width:100% !important; table-layout: fixed;">
						<thead>
							<tr>
								<th scope="col"> Identifier </th>
								<th scope="col"> Location </th>
								<th scope="col"> Last update </th>
								<th scope="col" style="text-align:center;"> Action </th>
							</tr>
						</thead>
						<tbody>
		{% endif %}
							<tr>
								<td>
									<a class="action" href="{{ url_for('instruments.log_view', iid=instrument.id) }}">
										{{ instrument.identifier }}
									</a>
								</td>
								<td>{{ instrument.instrument_location.name}}</td>
								<td>{{ instrument.updated.strftime('%Y-%m-%d') }}</td>
								<td style="text-align:center;">
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Info {{instrument.identifier}}" _="on click go to url {{url_for('instruments.instrument_view', iid=instrument.id) }}">
										<img src="{{url_for('static', filename='img/info-circle.svg')}}"/>
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{instrument.identifier}}" _="on click go to url {{url_for('instruments.update', iid=instrument.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
									</button>
									{% if (g.user.role_member.name == 'Supervisor') or (g.user.role_member.name == 'StudentAdmin') %}
										<button class="btn btn-outline-secondary btn-sm mt-1" title="Reactivate {{instrument.identifier}}" _="on click go to url {{ url_for('instruments.activate', iid=instrument.id) }}">
											<img src="{{url_for('static', filename='img/arrow-counterclockwise.svg')}}" role="img" alt="Deactivate" aria-label="Deactivate" />
										</button>
									{% endif %}
									{% if (g.user.role_member.name == 'Supervisor') %}
										<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{instrument.identifier}}" _="on click js return confirm('Are you sure to delete {{instrument.identifier}}?') end
                                                                                           if it is true
                                                                                            go to url {{ instrument.id | safe_url_for('instruments.delete', config['SEC_SESSION_KEY'], g.salt)}}">
											<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
										</button>
									{% endif %}
								</td>
							</tr>
		{% if loop.last %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
		{% endif %}
	{% endfor %}
	</p>
	{% endif %}
{% endblock %}


