{{ create_instrument_form.hidden_tag() }}
		<div class="form-group">
			{{ create_instrument_form.identifier.label }} <br> {{ create_instrument_form.identifier(class_="form-control") }}
			{% for error in create_instrument_form.identifier.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ create_instrument_form.location_id.label }} <br> {{ create_instrument_form.location_id(class_="form-control") }}
			{% for error in create_instrument_form.location_id.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ create_instrument_form.description.label }} <br/>

			<button type="button" class="btn btn-outline-info"
			hx-get="{{ url_for('htmx.htmx_markdown_help')}}"
			hx-target="#modals-here"
			hx-trigger="click"
			_="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Markdown Help</button>

			{% if instrument %}
			<button type="button" class="btn btn-outline-info"
			hx-get="{{ url_for('htmx.htmx_image_files', info=['i',instrument.id,instrument.identifier]) }}"
			hx-target="#modals-here"
			hx-trigger="click"
			_="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Associated Images</button>

			{% endif %}
			<div id="modals-here"></div>
			<br/>
			We accept Markdown formatting here.<br/>
			{{ create_instrument_form.description(rows='10',class_="form-control") }}
			{% for error in create_instrument_form.description.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div class="form-group">
			{{ create_instrument_form.submit(class_="btn btn-primary") }}
		</div>