					<!-- E/S/S templates -->
					{% if msg %}
					{{ msg | safe }}
					{% endif %}
					<p>
						{{ choose_default_templates_form.hidden_tag() }}
						<h4>Experiments/Samples/Simulations</h4>
						<div class="d-inline-flex p-1">
							Default template:
							<div class="pl-3">
								{{ choose_default_templates_form.ess_template(class_="form-control form-control-sm") }}
							</div>
						</div>
					</p>

					<!-- P/P/M templates -->
					<p>
						{{ choose_default_templates_form.hidden_tag() }}
						<h4>Procedures/Processings/Measurements</h4>
						<div class="d-inline-flex p-1">
							Default template:
							<div class="pl-3">
								{{ choose_default_templates_form.ppm_template(class_="form-control form-control-sm") }}
							</div>
						</div>
					</p>

					<!-- Journal entry templates -->
					<p>
						{{ choose_default_templates_form.hidden_tag() }}
						<h4>Instrumentation Journal Entries</h4>
						<div class="d-inline-flex p-1">
							Default template:
							<div class="pl-3">
								{{ choose_default_templates_form.entry_template(class_="form-control form-control-sm") }}
							</div>
						</div>
					</p>

					<!-- Save -->
					<p class="pt-3">
						{{ choose_default_templates_form.save(class_="btn btn-outline-primary btn-sm") }}
					</p>