{% extends 'base.html' %}
{% block title %}Instrument {{instrument.identifier}}{% endblock %}

{%- block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown_table.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('instruments.update', iid=instrument.id) }}"><img src="{{url_for('static', filename='img/pencil.svg')}}" height=24/> Edit</a>
<a class="nav-link active" href="{{ url_for('template.create_template_from_instrument', iid=instrument.id) }}"><img src="{{url_for('static', filename='img/rocket-fill.svg')}}" height=24/> Template</a>

{% if instrument.default_entry_template_id is none %}
	<a class="nav-link active" href="{{ url_for('entry.create', ids=[instrument.id, 0]) }}"><img src="{{url_for('static', filename='img/journal-plus.svg')}}" height=24/> New Journal Entry</a>
{% else %}
	<a class="nav-link active" href="{{ url_for('entry.create', ids=[instrument.id, instrument.default_entry_template_id]) }}"><img src="{{url_for('static', filename='img/journal-plus.svg')}}" height=24/> New Journal Entry</a>
{% endif %}

{% if instrument.default_ess_template_id is none %}
	<a class="nav-link active" href="{{ url_for('samples.create', tid=0) }}"><img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
{% else %}
	<a class="nav-link active" href="{{ url_for('samples.create', tid=instrument.default_ess_template_id) }}"><img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
{% endif %}


<form method=post class="form-inline">
	<div class="nav-link active">
		{{ share_form.hidden_tag() }}
		{{ share_form.submit(class_="btn btn-outline-primary btn-sm") }}
		{{ share_form.user(class_="form-control form-control-sm") }}
	</div>
</form>

{%- endblock pagenavbar %}

{% block content %}
<p></p>
<div class="card">
	<div class="card-header">
		<h2>Instrument: {{instrument.identifier}}</h2>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ url_for('instruments.index') }}"> Instruments</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{instrument.identifier}}</li>
			</ol>
		</nav>
	</div>

	<div class="card-body">
		<p class="card-text">
			Owned by group <em>{{ instrument.owner_group.name }}</em>, located at <em>{{instrument.instrument_location.name}}.</em> <br>
			Record created by <em>{{ instrument.creator.UserName }}</em>, inserted at <em>{{ instrument.created.strftime('%Y-%m-%d') }}</em>,
			last updated at <em> {{instrument.updated.strftime('%Y-%m-%d') }}</em>.
		</p>
		{% if instrument.is_shared %}
		<p class="card-text">
			Current shares: <br/>
			<ul>
			{% for user in instrument.guest_users %}
				<li>
					{% if g.user.group_id == instrument.group_id %}
						<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete share to {{user.UserName }}" _="on click go to url {{ url_for('instruments.unshare', ids=[instrument.id, user.id]) }}">
							<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
						</button>
					{% endif %}
					{{ user.UserName }}
				</li>
			{% endfor %}
			</ul>
		</p>
		{% endif %}
	</div>
</div>

<p>
	<div class="card">
		<div class="card-body">
			<div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
				<button class="btn btn-sm btn-outline-secondary my-2 my-md-0" type="button" data-toggle="collapse" data-target="#collapse_description" aria-expanded="false" aria-controls="collapse_description">
				Hide/Show
				</button>
				<h2 class="card-title">Description</h2>
			</div>
			<div class="collapse show" id="collapse_description">
				<p class="card-text">
					{{instrument.description | markdown | safe}}
				</p>
			</div>
		</div>
	</div>
</p>

<p>
	<div class="card">
		<div class="card-body">
			<div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
				<button class="btn btn-sm btn-outline-secondary my-2 my-md-0" type="button" data-toggle="collapse" data-target="#collapse_template" aria-expanded="false" aria-controls="collapse_template">
				Hide/Show
				</button>
				<h2 class="card-title">Default templates</h2>
			</div>
			<div class="collapse" id="collapse_template">

				<form hx-put="{{ url_for('instruments.htmx_instrument_template', iid=instrument.id)}}" id="template_form">
					{% include "instruments/inner_template_form.html" %}
				</form>
			</div>
		</div>
	</div>
</p>

<p>
<div class="card">
	<div class="card-body">
		<h2 class="card-title">Associated Instrumentation Journal Entry types</h2>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 ">
					<p>
					{% for etype in instrument.etypes %}
					{% if loop.index == 1 %}
					<table class="table table-borderless table-hover">
						<thead>
							<tr>
								<th scope="col"> Name </th>
								<th scope="col"> Action </th>
							</tr>
						</thead>
						<tbody>
					{% endif %}
							<tr>
								<td>{{ etype.name }}</td>
								<td>
									{% if (g.user.role_member.name == 'Supervisor') or (g.user.role_member.name == 'StudentAdmin') %}
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{etype.name}}" _="on click go to url {{ url_for('etype.update', etid=etype.id) }}">
										<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
									</button>
									<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{etype.name}}" _="on click js return confirm('Are you sure to delete {{etype.name}}?') end
												   if it is true
													go to url {{ etype.id | safe_url_for('etype.delete', config['SEC_SESSION_KEY'], g.salt) }}">
										<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete" />
									</button>
									{% endif %}
								</td>
							</tr>
					{% if loop.last %}
						</tbody>
					</table>
					{% endif %}
					{% else %}
					<div class="card-body">
						<p class="card-title">
						You have not defined any entry types for this instrument yet
						</p>
					</div>
					{% endfor %}
					<br>
					{% if (g.user.role_member.name == 'Supervisor') or (g.user.role_member.name == 'StudentAdmin') %}
					<a class="action btn btn-outline-primary" role="button"  href="{{ url_for('etype.create', iid=instrument.id) }}">
						<img src="{{url_for('static', filename='img/plus-circle.svg')}}" /> New Entry Type</a>
					{% endif %}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</p>

<p>
	{% for entry in instrument.journal_entries %}
	{% if loop.index == 1 %}
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Associated Instrumentation Journal Entry </h2>
			<p class="card-text">
				<table id="data" class="t_data table table-hover">
					<thead>
						<tr>
							<th scope="col"> Date </th>
							<th scope="col"> Title </th>
							<th scope="col"> Type </th>
							<th scope="col"> Author </th>
							<th scope="col"> Action </th>
						</tr>
					</thead>
					<tbody>
						{% endif %}
						<tr>
							<td>{{ entry.created.strftime('%Y-%m-%d, %H:%M ') }}</td>
							<td>
								<a class="action" href="{{ url_for('entry.entry_view', eid=entry.id) }}">{{ entry.identifier }}</A>
							</td>
							<td>
								{% if entry.etype.name %}
									{{ entry.etype.name }}
								{% else %}
									None
								{% endif %}
							</td>
							<td>{{ entry.creator.UserName }}</td>
							<td>
								<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{entry.identifier}}" _="on click go to url {{ url_for('entry.update', eid=entry.id) }}">
									<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
								</button>
								<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{entry.identifier}}" _="on click js return confirm('Are you sure to delete {{entry.identifier}}?') end
												   if it is true
													go to url {{ entry.id | safe_url_for('entry.delete_iv', config['SEC_SESSION_KEY'], g.salt)}}">
									<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
								</button>
							</td>
						</tr>
						{% if loop.last %}
					</tbody>
				</table>
				<br>
				<a class="action btn btn-outline-primary" role="button" href="{{ url_for('entry.create', ids=[instrument.id, 0]) }}"><img src="{{url_for('static', filename='img/journal-plus.svg')}}" />
					New Journal Entry
				</a>
			</p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</p>

<p>
	{% for measurement in instrument.measurements %}
	{% if loop.index == 1 %}
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Associated Procedures/Processings/Measurements</h2>
			<p class="card-text">
				<table class="t_data table table-hover">
					<thead>
						<tr>
							<th> Updated</th>
							<th> Title </th>
							<th> Type </th>
							<th> E/S/S </th>
							<th> Action </th>
						</tr>
					</thead>
					<tbody>
						{% endif %}
						<tr>
							<td>{{ measurement.updated.strftime('%Y-%m-%d') }}</td>
							<td> <a class="action" href="{{ url_for('measurements.measurement_view', mid=measurement.id) }}">{{ measurement.short_dis }}</a></td>
							<td>{{ measurement.measurement_type.name }}</td>
							<td><a class="action" href="{{ url_for('samples.sample_view', sid=measurement.measurement_sample.id) }}"> {{ measurement.measurement_sample.identifier }}</a></td>
							<td>
								<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{measurement.short_dis}}" _="on click go to url {{ url_for('measurements.update', mid=measurement.id) }}">
									<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
								</button>
							</td>
						</tr>
						{% if loop.last %}
					</tbody>
				</table>
				<br>
			</p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</p>

<p>
	{% import 'macros/dropezone.html' as dropezone %}
	{{ dropezone.file_list(files, ['i',instrument.id,instrument.identifier]) }}
</p>
{% endblock %}

{% block scripts %}
{{super()}}
{% include 'macros/dropezone_script.html' %}
	<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
	<script>
		$(document).ready(function () {
		$('table.t_data').DataTable({"pageLength": 25,
		"order": [[ 0, 'desc' ], [ 1, 'asc' ]],
		"columnDefs": [{ "orderable": false, "targets": 4 }]
		});
		});
	</script>
{%- endblock scripts %}
