{% extends 'base.html' %}
{% block title %}Log view {{instrument.identifier}}{% endblock %}

{%- block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown_table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{%- endblock styles %}

{% block pagenavbar %}
{% if instrument.default_entry_template_id is none %}
	<a class="nav-link active" href="{{ url_for('entry.create', ids=[instrument.id, 0]) }}"><img src="{{url_for('static', filename='img/journal-plus.svg')}}" height=24/> New Journal Entry</a>
{% else %}
	<a class="nav-link active" href="{{ url_for('entry.create', ids=[instrument.id, instrument.default_entry_template_id]) }}"><img src="{{url_for('static', filename='img/journal-plus.svg')}}" height=24/> New Journal Entry</a>
{% endif %}

{% if instrument.default_ess_template_id is none %}
	<a class="nav-link active" href="{{ url_for('samples.create', tid=0) }}"><img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
{% else %}
	<a class="nav-link active" href="{{ url_for('samples.create', tid=instrument.default_ess_template_id) }}"><img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
{% endif %}

<a class="nav-link active" href="{{ url_for('instruments.instrument_view', iid=instrument.id) }}">
	 <img src="{{url_for('static', filename='img/rocket.svg')}}" height=24/> Instrument</a>
{%- endblock pagenavbar %}

{% block content %}
<p></p>

	<div class="card">
		<div class="card-header">
			<h2 class="card-title">Journal Entries for {{ instrument.identifier }}</h2>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ url_for('instruments.index') }}"> Instruments</a></li>
				<li class="breadcrumb-item"><a href="{{ url_for('instruments.instrument_view', iid=instrument.id) }}">{{ instrument.identifier }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">List</li>
			</ol>
		</nav>
		</div>
	{% for entry in instrument.journal_entries %}
		{% if loop.index == 1 %}
		<div class="card-body">
			<p class="card-text">
				<table id="data" class="table table-hover" style="width:100% !important;">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Title</th>
							<th scope="col"> Type </th>
							<th scope="col">Author</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
		 {% endif %}
					<tr>
						<td>{{ entry.created.strftime('%Y-%m-%d, %H:%M ') }}</td>
						<td> <a class="action" href="{{ url_for('entry.entry_view', eid=entry.id) }}">{{ entry.identifier }}</a> </td>
						<td>
							{% if entry.etype.name %}
								{{ entry.etype.name }}
							{% else %}
								None
							{% endif %}
						</td>
						<td>{{ entry.creator.UserName }}</td>
						<td>
							<button class="btn btn-outline-secondary btn-sm mt-1" title="Info {{entry.identifier}}" _="on click go to url {{ url_for('entry.update', eid=entry.id) }}">
								<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit" />
							</button>
							<button class="btn btn-outline-secondary btn-sm mt-1" title="Delete {{entry.identifier}}" _="on click js return confirm('Are you sure to delete {{entry.identifier}}?') end
																			   if it is true
																				go to url {{ entry.id | safe_url_for('entry.delete_lv', config['SEC_SESSION_KEY'] ,g.salt)}}">
								<img src="{{url_for('static', filename='img/trash.svg')}}" role="img" alt="Delete"  aria-label="Delete"/>
							</button>
						</td>
					</tr>
		 {% if loop.last %}
					</tbody>
				</table>
				<br>
				<a class="action btn btn-outline-primary" role="button" href="{{ url_for('entry.create', ids=[instrument.id, 0]) }}"><img src="{{url_for('static', filename='img/journal-plus.svg')}}" />
					New Journal Entry
				</a>
			</p>
		</div>

		{% endif %}
		{% else %}
		<div class="card-body">
			<p class="card-text">You have not defined any samples/experiments/simulation, yet</p>
		</div>
	 {% endfor %}
	</div>
{% endblock content %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

	<script>
		$(document).ready(function () {
		$('#data').DataTable({"pageLength": 25,
		"order": [[ 0, 'desc' ], [ 1, 'asc' ]],
		"columnDefs": [{ "orderable": false, "targets": 4 }]
		});
		});
	</script>

{%- endblock scripts %}