{% extends 'base.html' %}

{% block title %} Error 500 - Internal server error{% endblock %}


{% block content %}

<h1> Upsi, An unexpected error has occurred</h1>

This should not happen. Something went wrong. Sorry.

<br>
Please, tell the admin that we can fix it.

<p>
    {% if debug %}
    {{debug}}
    {%endif%}
</p>

{% endblock %}