{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block pagenavbar %}
<a class="nav-link active" href="{{ url_for('samples.create', tid=0) }}"><img src="{{url_for('static', filename='img/file-plus.svg')}}" height=24 /> New E/S/S</a>
<a class="nav-link active" href="{{ url_for('samples.allsamples') }}"><img src="{{url_for('static', filename='img/file-spreadsheet.svg')}}" height=24 /> All E/S/S</a>
<a class="nav-link active" href="{{ url_for('samples.allsharedsamples') }}"><img src="{{url_for('static', filename='img/share.svg')}}" height=24 /> Shared E/S/S </a>
<a class="nav-link active" href="{{ url_for('main.lab_book') }}"><img src="{{url_for('static', filename='img/book.svg')}}" height=24 /> Export lab book</a>
{%- endblock pagenavbar %}

{% block content %}
<p>
<div class="card">
	{% for sample in g.user.samples[:5]+g.user.sharedsamples[:5] %}
	{% if loop.index == 1 %}
	<div class="card-header">
		<h2 class="card-title"> Last updated Experiments/Samples/Simulations </h2>
	</div>
	<div class="card-body">
		<p class="card-text">
		<table class="table table-hover">
			<thead>
				<tr>
					<th> Identifier </th>
					<th> Short Description </th>
					<th> Location </th>
					<th> Created </th>
					<th> Updated </th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				{% endif %}
				<tr>
					<td>
						<a class="action" href="{{ url_for('samples.sample_view', sid=sample.id) }}">{{
							sample.identifier }}</a>
					</td>
					<td>{{ sample.short_dis }}</td>
					<td>{{ sample.sample_location.name }}</td>
					<td>{{ sample.created.strftime('%Y-%m-%d') }}</td>
					<td>{{ sample.updated.strftime('%Y-%m-%d') }}</td>
					<td>
						<button class="btn btn-outline-secondary btn-sm mt-1" title="Edit {{sample.identifier }}" _="on click go to url {{url_for('samples.update', sid=sample.id) }}">
							<img src="{{url_for('static', filename='img/pencil.svg')}}" role="img" alt="Edit" aria-label="Edit"/>
						</button>
					</td>
				</tr>
				{% if loop.last %}
			</tbody>
		</table>
		<br>
		<a class="action btn btn-outline-primary" role="button" href="{{ url_for('samples.create', tid=0)}}">	<img src="{{url_for('static', filename='img/file-plus.svg')}}" /> New E/S/S</a>
		</p>
	</div>
	{% endif %}
	{% else %}
	<div class="card-body">
		<p class="card-text">You have not defined any samples/experiments/simulation, yet</p>
	</div>
	{% endfor %}
</div>
</p>
<p>
<div class="card">
	<div class="card-header">
		<h2 class="card-title"> Other information </h2>
	</div>
	<div class="card-body">
		<div class="container">
			<div class="row">

				<div class="col-sm-4">
					<h3>Documents updated</h3>
					<p class="card-text">
					<ol>
						{%for doc in docs %}
						<li><a href="{{ url_for('documents.show', label=doc.label) }}">{{doc.label}}</a></li>
						{%endfor%}
					</ol>
					</p>
				</div>
				<div class="col-sm-4">
					<h3>Instruments</h3>
					<p class="card-text">
					<ol>
						{%for instrument in g.user.group_member.owned_instruments %}
						<li><a href="{{ url_for('instruments.log_view', iid=instrument.id) }}">{{instrument.identifier}}</a></li>
						{%endfor%}
					</ol>
					</p>
				</div>
				<div class="col-sm-4">
					<h3>User Info</h3>
					<p class="card-text"></p>
					<ol>
						<li>User name: {{g.user.UserName}} </li>
						<li>Log-in: {{g.user.name}}</li>
						<li>Last login: {{g.user.last_login_at}} </li>
						<li>From: {{g.user.last_login_ip}}</li>
					</ol>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</p>
{% endblock %}