{% extends 'preview/preview_base.html' %}

{% block title %} Preview Images {% endblock %}


{% block preview_content %}
	<p>

	<div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
		<div class="carousel-inner">
		{% for img, file_name in imgs %}
			{% if loop.index == 1 %}
				<div class="carousel-item active">
					<img _="on mouseover set #download.href to '{{ url_for('files.send_upload', info=info,file=file_name )}}' then put '{{file_name }}' into #title_field"
						 src="{{img}}" class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h5>{{img}}</h5>
					</div>
				</div>
			{% else %}
				<div class="carousel-item">
					<img _="on mouseover set #download.href to '{{ url_for('files.send_upload', info=info,file=file_name )}}'then put '{{file_name }}' into #title_field "
						 src="{{img}}" class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h5>{{img}}</h5>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>

		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	</p>
{% endblock %}