{% extends 'preview/preview_base.html' %}

{% block title %} No Preview defined {% endblock %}

{% block pagenavbar %}
{{super()}}

{% if info_dict['type'] == 'r' %}
		<a class="nav-link active" href="{{ url_for('preview.text_preview', info=['r',info_dict['rid'],info_dict['sid'],info_dict['s_identifier']], file=file) }}"> <img src="{{url_for('static', filename='img/file-text.svg')}}" role="img" alt="Download"  aria-label="View as text" /> Preview as textfile</a>
{% elif info_dict['type'] == 'm' %}
		<a class="nav-link active" href="{{ url_for('preview.text_preview', info=['m',info_dict['mid'],info_dict['sid'],info_dict['s_identifier']], file=file) }}"> <img src="{{url_for('static', filename='img/file-text.svg')}}" role="img" alt="Download"  aria-label="Download" /> Preview as textfile</a>
{% elif info_dict['type'] == 's' %}
		<a class="nav-link active" href="{{ url_for('preview.text_preview', info=['s',info_dict['sid'],info_dict['s_identifier']], file=file) }}"> <img src="{{url_for('static', filename='img/file-text.svg')}}" role="img" alt="Download"  aria-label="View as text" /> Preview as textfile</a>
{% elif info_dict['type'] == 'e' %}
		<a class="nav-link active" href="{{ url_for('preview.text_preview', info=['e', info_dict['eid'], info_dict['iid'], info_dict['i_identifier']], file=file) }}"> <img src="{{url_for('static', filename='img/file-text.svg')}}" role="img" alt="Download"  aria-label="View as text" /> Preview as textfile</a>
{% elif info_dict['type'] == 'i' %}
		<a class="nav-link active" href="{{ url_for('preview.text_preview', info=['i',info_dict['iid'], info_dict['i_identifier']], file=file) }}"> <img src="{{url_for('static', filename='img/file-text.svg')}}" role="img" alt="Download"  aria-label="View as text" /> Preview as textfile</a>
{% elif info_dict['type'] == 'd' %}
		<a class="nav-link active" href="{{ url_for('preview.text_preview', info=['d',info_dict['did']], file=file) }}"> <img src="{{url_for('static', filename='img/file-text.svg')}}" role="img" alt="Download"  aria-label="View as text" /> Preview as textfile</a>
	{% endif %}
{% endblock pagenavbar %}

{% block preview_content %}
<p></p>
<h1> For this file - type, no preview is defined (yet). </h1>

{% endblock %}
