{% extends 'preview/preview_base.html' %}


{% block title %} Preview: PDF{% endblock %}


{% block preview_content %}
	   <object data="{{pdf}}" type="application/pdf" class="h-100" width="100%" height="850px;" _="init set #preview_card.style to 'height: 850px;'">
             <p>This browser does not support PDFs. Please download the PDF to view it:
             <a href="{{pdf}}">Download PDF</a>.</p>
        </object>
{% endblock %}