{% extends 'base.html' %}

{% block pagenavbar %}

{% if info_dict['type'] == 'r' %}
		<a id="download" class="nav-link active"  href="{{ url_for('files.send_upload', info=['r',info_dict['rid'],info_dict['sid'],info_dict['s_identifier']], file=file) }}"> <img src="{{url_for('static', filename='img/download.svg')}}" role="img" alt="Download"  aria-label="Download" /> Download</a>
{% elif info_dict['type'] == 'm'%}
		<a id="download" class="nav-link active"  href="{{ url_for('files.send_upload', info=['m',info_dict['mid'],info_dict['sid'],info_dict['s_identifier']], file=file) }}"> <img src="{{url_for('static', filename='img/download.svg')}}" role="img" alt="Download"  aria-label="Download"/> Download</a>
{% elif info_dict['type'] == 's'%}
		<a id="download" class="nav-link active" href="{{ url_for('files.send_upload', info=['s',info_dict['sid'],info_dict['s_identifier']], file=file) }}"> <img src="{{url_for('static', filename='img/download.svg')}}" role="img" alt="Download"  aria-label="Download" /> Download</a>
{% elif info_dict['type'] == 'e'%}
		<a id="download" class="nav-link active"  href="{{ url_for('files.send_upload', info=['e', info_dict['eid'], info_dict['iid'], info_dict['i_identifier']], file=file) }}"> <img src="{{url_for('static', filename='img/download.svg')}}" role="img" alt="Download"  aria-label="Download" /> Download</a>
{% elif info_dict['type'] == 'i'%}
		<a id="download" class="nav-link active"  href="{{ url_for('files.send_upload', info=['i',info_dict['iid'], info_dict['i_identifier']], file=file) }}"> <img src="{{url_for('static', filename='img/download.svg')}}" role="img" alt="Download"  aria-label="Download" /> Download</a>
{% elif info_dict['type'] == 'd'%}
		<a id="download" class="nav-link active"  href="{{ url_for('files.send_upload', info=['d',info_dict['did']],file=file) }}"> <img src="{{url_for('static', filename='img/download.svg')}}" role="img" alt="Download"  aria-label="Download" /> Download</a>
{% endif %}

{% endblock pagenavbar %}

{% block content -%}
	{% import 'macros/preview_header.html' as header %}
	<p>
		<div id="preview_card" class="card">
			<div class="card-header">
			{% if info_dict['type'] == 'r' %}
				{{ header.preview_header(file, url_list,["1st title", "2 nd title"]) }}
			{% elif info_dict['type'] == 'm'%}
				{{ header.preview_header(file, url_list,["1st title", "2 nd title"]) }}
			{% elif info_dict['type'] == 's'%}
				{{ header.preview_header(file, url_list,["1st title", "2 nd title"]) }}
			{% elif info_dict['type'] == 'e'%}
				{{ header.preview_header(file, url_list,["1st title", "2 nd title"]) }}
			{% elif info_dict['type'] == 'i'%}
				{{ header.preview_header(file, url_list,["1st title", "2 nd title"]) }}
			{% elif info_dict['type'] == 'd'%}
				{{ header.preview_header(file, url_list,["1st title", "2 nd title"]) }}
			{% endif %}
			</div>
			<div class="card-body">
				{% block preview_content -%}
				{%- endblock preview_content %}
			</div>
		</div>
	</p>
{%- endblock content %}
