{% extends 'preview/preview_base.html' %}

{% block title %} Preview: {{ title }} {% endblock %}


{% block preview_content %}

<p class="text-monospace">
<span style="white-space: pre-line">
 {{ body | string | truncate(2000)}}
</span>
</p>

{% endblock %}